/* ------ styles desktop version ------ */
.d-c-handwriting {
  height:   100%;
  width:    100%;
  position: relative;
}

.d-c-container-canvas {
  width:         600px;
  height:        300px;
  z-index:       2;
  overflow:      hidden;
  position:      relative;
  border-radius: 0px;
  position:      relative;
}

.icon-replay {
  position:      absolute;
  bottom:        7px;
  left:          7px;
}




/* ------ styles mobile version ------ */
.container-handwriting {
  height:             100%;
  width:              100%;
  box-sizing:         border-box;
  position:           relative;
  z-index:            2;
  background-color: #f8f8f8;
}

.m-c-container-canvas {
  position:         relative;
  width:            calc(100% - 90px);
  height:           300px;
  margin-top:       calc(300px * 0.31);
  display:          flex;
  justify-content:  center;
}


@media (min-width: 320px) and (orientation: landscape) {


  .m-c-container-canvas {
    margin-top: calc(300px * 0.1);
  }


}

@media (max-height: 420px) and (orientation: landscape) {

  .m-c-content-handwriting {
    align-items: unset;
  }

  .m-c-container-canvas {
    margin-top: 0px;
    transform: scale(.8);
  }

}