<div
  class="container"
  [class.mobile]="(isMobile$ | async)"
  [class.remove-scroll]="(showSuccessScreen$ | async)"
  >


  
  
  <!-- desktop version -->
  <div
    #dcont
    class=" d-container center"
    *ngIf="!(isSettingData$ | async) && (!(isMobile$ | async) && !(queryMobileMatch$ | async))"
    >

    <div class="d-c-card center" >

      <div class="d-c-container-progress-bar">
        <mat-progress-bar
          style="height: 100%; border-radius: 50px"
          color="warn"
          [mode]="determinate"
          [value]="advance$ | async"
          >
        </mat-progress-bar>
      </div>

      <div class="d-c-container-words" #dcCWords>
        <button 
          matRipple
          class="d-c-word correct"
          (click)="selectWord(word)"
          *ngFor="let word of words$ | async"
          [disabled]="(selections$ | async)[word]"
          [class.correct]="(correctSels$ | async)[word]"
          [class.incorrect]="(wongSels$ | async)[word]"
          >
          {{word}}
        </button>
      </div>
  
      <button
        matRipple
        class="m-icon-help"
        (click)="repeatInstructions()"
        >
        Ayuda
      </button>
    
    </div>


  </div>


  

  <!---------- mobile version ---------->
  <div
    #cont
    class="center"
    style="height: 100%; width: 100%"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    >
    
    <div #contCard class="m-c-select-words center">
      
      <div class="m-c-container-words center">
        <button
          matRipple
          *ngFor="let word of words$ | async"
          class="word"
          [class.correct]="(correctSels$ | async)[word]"
          [class.incorrect]="(wongSels$ | async)[word]"
          [disabled]="(selections$ | async)[word]"
          (click)="selectWord(word)"
          >
          {{word}}
        </button>
      </div>
    
    </div>

    <div class="m-c-container-progress-bar">
      <mat-progress-bar
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async"
        style="height: 100%; border-radius: 50px;"
        >
      </mat-progress-bar>
    </div>

    <button
      matRipple
      class="m-icon-help mob"
      (click)="repeatInstructions()"
      >
      Ayuda
    </button>

  </div>




  <div
    class="container-spinner"
    *ngIf="isSettingData$ | async"
    >
    <app-spinner-loading></app-spinner-loading>
  </div>


  <div
    class="container-well-done-dialog"
    *ngIf="showSuccessScreen$ | async"
    >
    <app-well-done></app-well-done>
  </div>


</div>
