/* desktop version */
.d-container {
  width: 100%;
  height: 100%;
}

.d-c-card {
  height:       90%;
  max-height:   720px;
  width:        90%;
  min-width:    640px;
  max-width:    720px;
  position:     relative;
  overflow:     hidden;
  box-sizing:   border-box;
  padding:      0;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  min-height: 480px;
}

.d-c-container-words {
  width:            95%;
  border:           1px solid #b1b1b1;
  background-color: #ebedee;
  display:          flex;
  flex-wrap:        wrap;
  justify-content:  center;
  padding:          50px 10px;
  box-sizing:       border-box;
}


.d-c-word {
  font-size:        38px;
  font-family:      'Roboto', sans-serif;
  margin:           3px;
  padding:          6px 20px;
  letter-spacing:   0.1px;
  position:         relative;
  color:          #ffffff;
  background:     #fa7e29;
  background:       linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
  border-radius:    5px;
  border:           none;
  outline:          none;
  border:           2px solid white;
  box-shadow:       0 0 2px 2px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.d-c-word.correct   { background: rgb(2, 170, 86);  }
.d-c-word.incorrect { background: rgb(255, 83, 60); }

.d-icon-help {
  width: 120px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 60px);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  outline:  none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 5px 0px 0px #1976D2;
  border: none;
}

.d-c-container-progress-bar {
  width: 80%;
  max-width: 540px;
  height: 16px;
  position: absolute;

}

@media( max-height: 560px ) {

  .d-container { display: block !important; }
  .d-c-card { margin: 10px auto; }
  .d-c-container-progress-bar { width: 100%; max-width: unset; }

}


/* mobile version */

.m-c-select-words {
  width:      95%;
  min-width:  300px;
  height:     94%;
  min-height: 420px;
  max-height: 520px;
  padding: 0;
  position: relative;
}

.m-c-container-words {
  width:     95%;
  flex-wrap: wrap;
}

.word {
  font-size:      calc(100vw * .07);
  padding:        6px 20px;
  letter-spacing: 0.1px;
  color:          white;
  border-radius:  4px;
  border:         none;
  outline:        none;
  font-family:    'Roboto', sans-serif;
  border:         2px solid white;
  margin:         3px;
  background:     linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
  box-shadow:     0 0 2px 2px rgba(0, 0, 0, .5);

}

.m-c-container-words .correct   {
  background: #4CAF50;
}

.m-c-container-words .incorrect {
  background: #F44336;
}

.m-icon-help {
  width:         120px;
  height:        36px;
  position:      absolute;
  bottom:        20px;
  left:          calc(50% - 60px);
  color:         white;
  border-radius: 3px;
  font-size:     16px;
  outline:       none;
  font-family:   'Roboto', sans-serif;
  box-sizing:    border-box;
  font-weight:   500;
  background:    #2196F3;
  box-shadow:    0px 5px 0px 0px #1976D2;
  border:        none;
}

.m-c-container-progress-bar {
  height: 8px;
  width: 80%;
  position: absolute;
  top: 5%;
}

@media (min-width: 320px) and (orientation: landscape) {

  .m-c-select-words {
    min-height: unset;
    max-width: 720px;
  }

  .m-c-container-words {
    padding: 5% 5px;
    width:   92%
  }


  .m-c-container-words .word {
    font-size: calc(100vw * .04);
  }

  .m-c-container-progress-bar {
    width: 80%;
  }

  .m-icon-help {
    bottom: 10px;
    left: 10px;
  }

}

@media (max-height: 550px) and (orientation: portrait) {

  .container.mobile {
    overflow: auto;
    display: block;
  }

  .m-c-select-words {
    margin:     10px;
    min-height: unset;
    width:      calc( 100% - 20px );
    height:     calc( 100% - 20px );
    box-sizing: border-box;
  }

}

@media (max-height: 300px) and (orientation: landscape) {

  .container.mobile {
    overflow: auto;
    display: block;
  }

  .m-c-select-words {
    margin: 10px auto;
    min-height: 235px;
  }

}

@media ( min-width: 540px ) and  (orientation: portrait) {
  .m-c-select-words {
    max-width: 640px;
    max-height: 720px;
  }

  .word {
    font-size: 40px;
    cursor: pointer;
  }

  .m-c-container-progress-bar{
    height: 16px;
    width: 90%;
    max-width: 500px;
  }
}