<div class="container" [class.mobile]="(isMobile$ | async)" >



  
  
  <!-- desktop version -->
  <div
    #dcont
    class=" d-container center"
    *ngIf="!(isSettingData$ | async) && (!(isMobile$ | async) && !(queryMobileMatch$ | async))"
    >

    <div #dContCard class="d-c-card" >
      <mat-card class="center" style="
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0;
        "  >
    
        <div class="d-c-container-words" #dcCWords>
          <button 
            matRipple
            *ngFor="let word of words$ | async"
            class="d-c-word correct"
            (click)="selectWord(word)"
            [class.correct]="(correctSels$ | async)[word] === word"
            [class.incorrect]="(wongSels$ | async)[word] === word"
            [disabled]="(selections$ | async)[word] === word"
            >
            {{word}}
          </button>
        </div>
    
        <button matRipple class="d-icon-help" (click)="repeatInstructions()">Ayuda</button>
    
      </mat-card>
    </div>

    <div
      #dContPB
      class="d-c-container-progress-bar"
      [ngStyle]="genPostion(dcont, dContCard, dContPB)"
      >
      <mat-progress-bar
        style="height: 100%; border-radius: 50px"
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async"
        >
      </mat-progress-bar>
    </div>

  </div>


  <!-- mobile version -->

  <div
    #cont
    style="height: 100%; width: 100%"
    class="center"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    >
    
    <div #contCard class="m-c-select-words center">
      
      <div class="m-c-container-words center">
        <button
          matRipple
          *ngFor="let word of words$ | async"
          class="word"
          [class.correct]="(correctSels$ | async)[word] === word"
          [class.incorrect]="(wongSels$ | async)[word] === word"
          [disabled]="(selections$ | async)[word] === word"
          (click)="selectWord(word)"
          >
          {{word}}
        </button>
      </div>
    
    </div>

    <div class="m-c-container-progress-bar">
      <mat-progress-bar
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async"
        style="height: 100%; border-radius: 50px;"
        >
      </mat-progress-bar>
    </div>

    <button
      matRipple
      class="m-icon-help"
      (click)="repeatInstructions()">
      Ayuda
    </button>

  </div>



  <div style="height: 40px; width: 40px; margin: 10px auto; position: absolute; top: 0" *ngIf="isSettingData$ | async">
    <app-spinner-loading></app-spinner-loading>
  </div>

  <app-success-animation *ngIf="showSuccessScreen$ | async"></app-success-animation>
</div>
