.m-c-comments {
  width:      100%;
  padding:    3px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.m-c-box-write-comment {
  margin-bottom: 25px;
}

.comment-thread-box {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #2196F3;
}

.comment-thread-box:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.m-c-spinner {
  height: 75px;
}

.box-spinner {
  width:  60px;
  height: 60px;
}