<div class="container-signin">

  <mat-card class="resize">

    <div class="icon-login" >
      <img src="/assets/img-min/education-min.png" alt="" width="120" height="120">
    </div>

    <h1 class="title" >Iniciar Sesión</h1>

    <form 
      [formGroup]="signinForm"
      (ngSubmit)="onSubmit()"
      >

      <mat-form-field>
        <input 
          id="email"
          formControlName="email"
          [errorStateMatcher]="matcher"
          matInput placeholder="Correo Electronico" 
          >

          <mat-error
            *ngIf="signinForm.controls.email.hasError('email') &&
                  !signinForm.controls.email.hasError('required')"
            >
            Por favor ingresa una direccion de correo válido.
          </mat-error>

          <mat-error
            *ngIf="signinForm.controls.email.hasError('required')"
            >
            Correo electrónico es <strong>obligatorio.</strong>
          </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input 
          id="password"
          type="password"
          ngInit="text=''"
          ngFocus="text = xxxxxx"
          matInput 
          placeholder="Contraseña"
          autocomplete="true" 
          formControlName="password"
          [errorStateMatcher]="matcher"
          >

        <mat-error
        *ngIf="
          signinForm.controls.password.hasError('pattern')   &&
          !signinForm.controls.password.hasError('required') &&
          !signinForm.controls.password.hasError('minlength')
          ">
          Tu contraseña debe tener mínimo 8 carateres, una letra mayúscula y un número.
        </mat-error>
          <mat-error
          *ngIf="
          !signinForm.controls.password.hasError('pattern')   &&
          !signinForm.controls.password.hasError('required') &&
          signinForm.controls.password.hasError('minlength')"
          >
          Tu contraseña debe tener un mínimo de 8 carateres.
        </mat-error>

        <mat-error *ngIf="signinForm.controls.password.hasError('required')">
          Ingresa tu contraseña.
        </mat-error>

      </mat-form-field>


      <button 
        type="submit"
        mat-raised-button
        color="accent"
        >
        Entrar
      </button>

    </form>
    <p class="signup-link">
      <span> Eres Nuevo? </span>
      <a
        mat-button color="primary"
        routerLink='/signup'
        >
        Crear usuario
    </a>
    </p>
  </mat-card>
</div>
