.c-m-option {
  height: 75px;
  margin: 3px 0;
}

.destroy {
  transition: .4s;
  height: 0px !important;
  margin: 0 !important;
}

.m-circle-letter {
  width:           75px;
  height:          75px;
  font-size:       40px;
  margin:          3px 0;
  border-radius:   4%;
  font-weight:     700;
  padding:         0;
  display:         flex;
  outline:         none;
  border:          none;
  color:         white;
  justify-content: center;
  align-items:     flex-start;
  box-sizing:      border-box;
  font-family:     'Roboto', sans-serif;
  transition:      100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #ff8548;
}

.m-circle-letter.showOpt {
  background-color: #159e3e;
}

.circle-letter.showOpt   {
  background-color: #159e3e;
}

.m-circle-letter.clear {
  display:   none;
}


.m-circle-letter.resize-desktop {
  width: 95%;
  height: 95%;
  font-size: 50px;
  margin: 3px auto;
}

.c-m-option.resize-desktop {
  width: 100px;
  height: 100px;
}