<div [ngStyle]="genCols(contGrid)" class="c-cont-grids" >
  <mat-card
    matRipple
    class="m-c-card"
    [matRippleRadius]="120"
    [matRippleColor]="'rgba(0,0,0,.04)'"
    *ngFor="let item of lettersMenu$ | async"
    >
  
    <button
      color="warn"
      mat-raised-button
      class="ic-sound center"
      (click)="listenLetter(item.letter)"
      >
  
      <mat-icon class="sound-icon center" >volume_up</mat-icon>
  
    </button>
  
  
    <div
      class="letters"
      (click)="redirect(item.letter)"
      >
  
  
      <div class="upper center">

        <button
          [class.highlight]="( selectedLetter$ | async ) === item.letter"
          >
          {{item.letterUpperCase }}
        </button>

      </div>
  
  
      <div class="lower center">

        <button
          [class.highlight]="( selectedLetter$ | async ) === item.letter"
          >
          {{item.letterLowerCase}}
        </button>

      </div>
  
  
    </div>
  

    <div
      class="image center"
      (click)="redirect(item.letter)"
      >
      <img [src]="item.imgUrl">
    </div>


  </mat-card>
</div>