.container {
  overflow: auto;
  display: block;
}

/* ---------- Desktop version ---------- */

.d-c-menu-letters {
  min-width: 720px;
  height: 100%;
}

.d-c-title {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-c-title h1 {
  margin: 0;
  color: #222222;
  text-align: center;
  font-size: 80px;
}

.d-c-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 360px;
  grid-gap: 40px 20px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .0), 0 1px 3px 0 rgba(0, 0, 0, 0);
  padding: 35px 0;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  margin-bottom: 30px;
}

.d-c-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafad2;
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0 0 0 3px;
  border-top: 38px solid #FAFAC2;
  box-sizing: border-box;
  padding: 0;
}

.d-c-card::before {
  content: "";
  position: absolute;
  top: -38px;
  right: 0;
  border-width: 0 42px 39px 0;
  border-style: solid;
  border-color: #FFF176 #ffffff;
  border-radius: 0 0 0 4px;
}


.d-c-image {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.d-c-image img {
  height: 140px;
  width: 140px;
  cursor: pointer;
}

.d-c-letters {
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
}

.d-c-letters .d-c-upper button,
.d-c-letters .d-c-lower button {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 85px;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}

.d-c-letters .d-c-upper button:disabled,
.d-c-letters .d-c-lower button:disabled {
  color: black;
}
/* .d-c-letters .d-c-upper .highlight,
.d-c-letters .d-c-lower .highlight {
  color: rgb(255, 191, 0) !important;
  -webkit-text-stroke: 2px #202020;
} */


.d-c-button {
  font-size: 20px;
  letter-spacing: 0.7px;
  width: 150px;
}

.d-ic-sound {
  position: absolute;
  top: 10px;
  left:   10px;
  background: #fe473e;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: 100ms;
  cursor: pointer;
}

.d-ic-sound:active {
  transform: scale(.95);
}



/*----------- Mobile version --------------*/
.m-c-menu-letters {
  width: 100%;
  height: 100%;
}

.highlight {
  color: rgb(255, 191, 0) !important;
  -webkit-text-stroke: 2px #202020;
}

.c-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-evenly;
  align-content: start;
}

.m-c-title {
  background-color: #f44336;
  color: white;
  width: 90%;
  max-width: 600px;
  font-size: 28px;
  font-weight: bold;
  margin: 7px auto;
  padding: 5px 0;
  text-align: center;
  border-radius: 3px;
}

.m-c-card {
  width: 100%;
  height: 100px;
  padding: 3px;
  box-sizing: border-box;
  margin: 3.5px auto;
  display: flex;
  padding: 0;
}

.ic-sound {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: green;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: 100ms;
}

.ic-sound:active {
  transform: scale(.98);
}

.letters {
  width: calc(100% - 100px);
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
}

.letters div {
  width: 70px;
}

.upper,
.lower {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper button,
.lower button {
  border: none;
  background-color: transparent;
  font-size: 70px;
  font-family: 'Noto Sans';
  font-weight: bold;
  outline: none;
}

.star.resize {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 5px;
}

.image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 4px;
}

.image img {
  width: 88%;
  height: 88%;
}
