.container {
  display: block;
}

/*------ Sections Cards Alphabet ------*/
.d-c-menu-letters {
  height:                 100%;
  width:                  100%;
  display:                grid;
  max-width:              1440px;
  margin:                 0 auto;
  grid-template-columns:  calc(100% - 390px) 390px;
}

.d-c-title {
  margin:                 0 0 15px 0;
  border:                 2px solid #ececec;
  width:                  100%;
  font-family:            'Noto Sans', sans-serif;
  box-sizing:             border-box;
  color:                rgba(0,0,0,.85);
  background:           #f5f5f5;
}

.d-c-title h1 {
  margin:                 0;
  width:                  100%;
  text-align:             center;
  font-size:              42px;
  margin:                 1px 0 3px 0;

}

.d-c-cards {
  width:                  98%;
  background:           white;
  overflow:               auto;
  margin:                 10px auto;
  padding:                3px 15px;
  box-sizing:             border-box;
  box-shadow:             0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-radius:          4px;
  border-top:             10px solid white;
  border-bottom:          10px solid white;
}

.d-c-cards::-webkit-scrollbar {
  display: none;
}

.d-c-grids {
  display:                grid;
  grid-template-columns:  repeat(auto-fill, 300px);
  grid-auto-rows:         360px;
  grid-gap:               40px 20px;
  justify-content:        space-evenly;
  width:                  100%
}

.d-c-card {
  width:                  100%;
  height:                 100%;
  box-sizing:             border-box;
  display:                flex;
  flex-direction:         column;
  justify-content:        space-evenly;
  align-items:            center;
  background-color:     #fafad2;
  position:               relative;
  box-shadow:             0 2px 1px -1px rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0);
  border-left:            1px solid rgba(0, 0, 0, 0.05);
  border-radius:          0 0 0 3px;
  border-top:             38px solid #FAFAC2;
  box-sizing:             border-box;
  padding:                0;
}

.d-c-card::before {
  content:                "";
  position:               absolute;
  top:                    -38px;
  right:                  0;
  border-width:           0 42px 39px 0;
  border-style:           solid;
  border-color:         #FFF176 #ffffff;
  border-radius:          0 0 0 4px;
}

.d-c-image {
  width:                  100%;
  height:                 140px;
  border-radius:          4px;
}

.d-c-image img {
  height:                 140px;
  width:                  140px;
  cursor:                 pointer;
  transition:             100ms;
}

.d-c-image img:active {
  transform:              scale(.97)
}

.d-c-letters {
  height:                 85px;
}

.d-c-letters .d-c-upper button,
.d-c-letters .d-c-lower button {
  border:                 none;
  outline:                none;
  background:             transparent;
  font-weight:            bolder;
  font-size:              85px;
  cursor:                 pointer;
  font-family:            'Noto Sans', sans-serif;
}

.d-c-letters .d-c-upper button:disabled,
.d-c-letters .d-c-lower button:disabled {
  color:                black;
}

.d-c-button {
  font-size:              20px;
  letter-spacing:         0.7px;
  width:                  150px;
}

.d-ic-sound {
  position:               absolute;
  top:                    10px;
  left:                   10px;
  background:           #fe473e;
  color:                white;
  border-radius:          50%;
  width:                  40px;
  height:                 40px;
  font-size:              35px;
  z-index:                20;
  transition:             100ms;
  cursor:                 pointer;
}

.d-ic-sound:active {
  transform:              scale(.95);
}

/*------ Section User progress ------*/
.d-c-progress {
  width:                  98%;
  min-height:             250px;
  margin:                 0 auto;
  margin-top:             10px;
  margin-bottom:          10px;
  border-top:             10px solid white;
  border-bottom:          10px solid white;
  overflow:               hidden;
  min-width:              280px;
  box-sizing:             border-box;
  
  padding:                3px 10px;
  margin-right:           2%;
  border-radius:          4px;
}

.d-c-progress::-webkit-scrollbar {
  display:                none;
}


.highlight {
  color:                  rgb(255, 191, 0) !important;
  -webkit-text-stroke:    2px #202020;
}

/*------ media querys desktop version ------*/
@media (max-width: 720px) {

  .d-c-menu-letters {
    grid-template-columns: 100%;
    grid-auto-rows:         50%
  }

}


/*----------- Mobile version --------------*/
.m-c-menu-letters {
  width:                  100%;
  height:                 100%;
}

.c-cards {
  width:                  100%;
  display:                grid;
  height:                 calc(100vh - 104px);
  overflow:               auto;
  padding-top:            5px;
  padding-bottom:         5px;
  box-sizing:             border-box;
}

.c-cards::-webkit-scrollbar {
  display:                none;
}

.icon-alphabet, .icon-star {
  margin-right:           5px;
  color:                #ffd700;
}

.tab-title {
  height:                 48px;
  padding:                0 24px;
}

.lowOpacity  {
  opacity:                0.4;
}

