<div #contGrid class="container">

  <div *ngIf="!loading" class="m-c-title" (click)="instructions()"> El Abecedario </div>

  <div class="c-cards" [ngStyle]="genCols(contGrid)" *ngIf="!loading">

    <mat-card
      *ngFor="let letter of letters"
      class="m-c-card"
      >


      <mat-icon
        class="ic-sound"
        matSuffix
        (click)="listenSoundLetter(letter)"
        >
        volume_up
      </mat-icon>

      <div
        class="letters"
        (click)="openModal(letter)"
        >


        <div
          class="upper"
          >
          <button>{{letter | uppercase}}</button>
        </div>
        <div
          class="lower"
          >
          <button>{{letter | lowercase}}</button>
        </div>

        <i *ngIf="learned[letter] === letter" class="star resize"></i>

      </div>

      <div class="image"
      (click)="openModal(letter)"
      >
        <img [src]="getImage(letter)" alt="">
      </div>

    </mat-card>

  </div>

  <!-- Spinner animation component -->
  <app-spinner-loading *ngIf="loading"></app-spinner-loading>
</div>





<!-- Modal component -->
<!-- <div *ngIf="!loading && isMobile() === true" #containerDetail [class.show-background]="showBackGround === true"
  [class.showModal]="showModal === true" class="container-detail">
  <div [class.showLetterDetail]="showBackGround === true" class="letter-detail">

    <div class="title">
      <span (click)="listenLetter(currentLetter, 'u')"> {{currentLetter | uppercase}} </span>
      <span (click)="listenLetter(currentLetter, 'l')"> {{currentLetter}} </span>

      <div class="c-arrow" (click)="toPractice()">
        <div class="arrow-circles">
          <div class="circle-arrow c-1"></div>
          <div class="circle-arrow c-2"></div>
          <div class="circle-arrow c-3"></div>
        </div>
        <div class="arrow-icon">
        </div>
      </div>

    </div>

    <div class="c-comb">
      <button *ngFor="let item of getCombinations(currentLetter)" class="press-btn" (click)="listen(item, 0.6)">
        {{item['w']}}
      </button>
    </div>

    <div class="examples" #containerImages>
      <div *ngFor="let wordOpt of words" class="c-m-img">
        <img [src]="genUrl(wordOpt)" (click)="listenWord(wordOpt)" [alt]="">
      </div>
    </div>

    <div class="close press" (click)="closeModal()"></div>

  </div>
</div> -->
