<div #contGrid class="container" [style.overflow]="isMobile() ? 'auto' : 'auto'">


  <!------ Desktop Version ------>
  <div class="d-c-menu-letters" *ngIf="!loading && !isMobile() && !mobileQuery.matches">


    <mat-card class="d-c-cards">

      <div [class.show]="showC" class="d-c-title center hide" (click)="instructions()">
        <h1> El Abecedario </h1>
      </div>


      <div class="d-c-grids">

        <!-- letter card -->
        <mat-card class="d-c-card" *ngFor="let letter of letters" >


          <div class="d-c-image center" (click)="listenWord(letter)">
            <img [src]="getImage(letter)">
          </div>


          <div class="d-c-letters center">

            <div class="d-c-upper">
              <button
                (click)="listenLetter(letter, 'u')"
                [disabled]="speaking === true"
                [class.highlight]="selections[letter] === letter"
                [class.highlight]=" highlightLetter[letter] === letter &&
                                    highlightLetter['type'] === 'u'"
                >
                {{letter | uppercase}}
              </button>
            </div>

            <div class="d-c-lower">
              <button
                (click)="listenLetter(letter, 'l')"
                [disabled]="speaking === true"
                [class.highlight]="selections[letter] === letter"
                [class.highlight]=" highlightLetter[letter] === letter &&
                                    highlightLetter['type'] === 'l' "
                >
                {{letter | lowercase}}
              </button>
            </div>

          </div>

          <button 
            color="warn"
            mat-raised-button
            class="d-c-button"
            (click)="openModal(letter)"
            >
            Empezar
          </button>

          <mat-icon
            class="d-ic-sound center"
            (click)="listenSoundLetter(letter)"
            >
            volume_up
          </mat-icon>

        </mat-card>

      </div>

    </mat-card>


    <mat-card class="d-c-progress">

      <div class="d-c-title">
        <h1>Progreso</h1>
      </div>

      <app-learned-letters
        [learneds]="learneds"
        [sortedState]="sortedState"
        [combinations]="combinations"
        [sortAlphaState]="sortAlphaState"
        [sortRatingState]="sortRatingState"
        (evOpenItem)="itemOpened($event)"
        (evCloseItem)="itemClosed($event)"
        (evSortAlpha)="sortAlpha($event)"
        (evSortRating)="sortRating($event)"
        (evlistenLetter)="listen($event)"
        (evRepractice)="repractice($event)"
        >
      </app-learned-letters>

    </mat-card>


  </div>


  <!------ Mobile Version ------>
  <div class="m-c-menu-letters" *ngIf="(!loading && isMobile()) || (!loading && !isMobile() && mobileQuery.matches)">

    
    <div class="m-c-alphabet">
      <mat-tab-group color="accent" backgroundColor="warn" mat-align-tabs="start">


        <!--------- tab_Alphabet ---------->
        <mat-tab>

          <ng-template mat-tab-label>
            <span
              class="center tab-title"
              (click)="goToAlphabet()"
              [class.lowOpacity]="!showAlphabet"
              >
              <mat-icon class="icon-alphabet">font_download</mat-icon>
              Abecedario
            </span>
          </ng-template>


          <div class="c-cards">

            <app-alphabet
              [contGrid]="contGrid"
              [letters]="letters"
              [selections]="selections"
              [wordsUrl]="wordsUrl"
              (evsAlphabet)="openModal($event)"
              (evsSoundLetter)="listenSoundLetter($event)"
              >
            </app-alphabet>

          </div>



        </mat-tab>


        <!------ tab_learned_letters ------>
        <mat-tab>

          <ng-template mat-tab-label>
            <span 
              (click)="goToLearnedLetters()"
              class="center tab-title"
              [class.lowOpacity]="showAlphabet"
              >
              <mat-icon class="icon-star">star</mat-icon>
              Aprendidas
            </span>
          </ng-template>

          <app-learned-letters
            [learneds]="learneds"
            [sortedState]="sortedState"
            [combinations]="combinations"
            [sortAlphaState]="sortAlphaState"
            [sortRatingState]="sortRatingState"
            (evOpenItem)="itemOpened($event)"
            (evCloseItem)="itemClosed($event)"
            (evSortAlpha)="sortAlpha($event)"
            (evSortRating)="sortRating($event)"
            (evlistenLetter)="listen($event)"
            (evRepractice)="repractice($event)"
            >
          </app-learned-letters>

        </mat-tab>


      </mat-tab-group>
    </div>


  </div>

  <app-spinner-loading *ngIf="loading"></app-spinner-loading>
</div>
