/*----- desktop version -----*/
.d-c-board {
  height:     100%;
  width:      100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-evenly;
}

.d-c-container-canvas {
  height:           300px;
  z-index:          2;
  position:         relative;
  border:           1px solid #cccccc;
  border-radius:    0px;
  background-color: #ebedee;
  padding-top:      30px;
}

.icon-gesture {
  position:           absolute;
  top:                10px;
  left:               10px;
  height:             48px;
  width:              48px;
  border-radius:      50%;
  z-index:            3;
  color:            white;
}

.icon-gesture mat-icon {
  font-size: 36px;
  margin:    0 auto;
}

.d-c-canvas {
  height:  100%;
  z-index: 2;
}


/*----- mobile version -----*/
.container-board {
  height:          100%;
  width:           100%;
  display:         flex;
  box-sizing:      border-box;
  position:        relative;
  background-color: #f8f8f8;
}


.container-canvas {
  width:             100%;
  height:            100%;
  z-index:           3;
  overflow:          hidden;
  position:          absolute;
  /* background-color: #f8f8f8; */
  display:          flex;
  flex-direction:   column;
  align-items:      center;
}

.m-c-canvas {
  z-index: 2;
  position: absolute;
}

.m-c-guide-lines {
  margin-top: calc(300px * 0.31);
  z-index: 2;
  width: 90%;
  height: 300px;
  position: relative;

}

.container-float-buttons {
  height:    120px;
  width:     60px;
  position:  absolute;
  bottom:    15px;
  right:     15px;
  z-index:   20;
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: space-evenly;
}


@media (max-height: 360px) and (orientation: landscape) {

  .m-c-guide-lines {
    z-index: 2;
    transform: scale(0.8);
    margin-top: 0;
  }


}
@media (min-height: 360px) and (orientation: landscape) {

  .m-c-guide-lines {
    margin-top: calc(300px * 0.1);
  }

}