/*----- desktop version -----*/
.d-c-board {
  height:     100%;
  width:      100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-evenly;
}

.d-c-container-canvas {
  height:           300px;
  z-index:          2;
  position:         relative;
  border:           1px solid #cccccc;
  border-radius:    0px;
  background-color: #ebedee;
  padding-top:      30px;
}

.icon-gesture {
  position:           absolute;
  top:                10px;
  left:               10px;
  height:             48px;
  width:              48px;
  border-radius:      50%;
  z-index:            3;
  color:            white;
}

.icon-gesture mat-icon {
  font-size: 36px;
  margin:    0 auto;
}

.d-c-canvas {
  height:  100%;
  z-index: 2;
}


/*----- mobile version -----*/
.container-board {
  height:          100%;
  width:           100%;
  display:         flex;
  box-sizing:      border-box;
  position:        relative;
  background-color: #f8f8f8;
}


.container-canvas {
  width:             100%;
  height:            100%;
  z-index:           3;
  overflow:          hidden;
  position:          absolute;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
}

.m-c-canvas {
  z-index: 2;
  position: absolute;
}

.m-c-guide-lines {
  margin-top: calc(300px * 0.31);
  z-index: 2;
  width: 90%;
  height: 300px;
  position: relative;

}

.btn-done {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  background: #239B56
}

.m-c-float-buttons {
  position:      absolute;
  bottom:        20px;
  border:        1px solid rgba(0,0,0,.3);
  border-radius: 70px;
  z-index:       20;
  width:         120px;
  padding:       0;
  display:         flex;
  justify-content: space-evenly;
  background: white;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.5);
}

@media (max-height: 500px) and (orientation: landscape) {

  .m-c-guide-lines {
    z-index: 2;
    transform: scale(0.8);
    margin-top: 0;
  }

  .m-c-float-buttons {
    right: 20px;
    height: 120px;
    flex-direction: column;
    width: unset;
    bottom: 85px;
  }

}

@media (min-height: 360px) and (orientation: landscape) {

  .m-c-guide-lines {
    margin-top: calc(300px * 0.1);
  }

}

@media( max-height: 640px ) and ( orientation: portrait ) {
  .m-c-float-buttons {
    background: rgba( 255, 255, 255, 0.3 );
  }
}