<!-- desktop version -->
<div class="d-c-board center" *ngIf="!(isMobile$ | async) && !(queryMobileMatch$ | async)" >

  <div class="d-c-container-canvas">
    <app-guide-lines
      [top]="30"
      *ngIf="(preferences$ | async).showGuideLines"
      >
    </app-guide-lines>

    <button
      mat-mini-fab
      class="icon-gesture"
      (click)="clearCanvas()"
      color="warn"
      >
      <mat-icon class="center" >delete_forever</mat-icon>

    </button>
    <canvas class="d-c-canvas" #canvasEl></canvas>
  </div>


</div>



<!-- version mobile -->
<div class="container-board center" *ngIf="(isMobile$ | async) || (queryMobileMatch$ | async)" >


  <div #containerCanvas class="container-canvas">
    <canvas class="m-c-canvas mob" #canvasEl></canvas>
  </div>


  <div class="m-c-guide-lines">
    <app-guide-lines [top]="0" *ngIf="(preferences$ | async).showGuideLines"></app-guide-lines>
  </div>



  <button mat-fab color="warn" (click)="done()" class="btn-done">
    <mat-icon style="font-weight: bold">done</mat-icon>
  </button>

  <div class="m-c-float-buttons" >

    <button mat-icon-button color="warn" (click)="showHandwriting()">
      <mat-icon>replay</mat-icon>
    </button>

    <button mat-icon-button color="warn" (click)="clearCanvas()" >
      <mat-icon>clear</mat-icon>
    </button>

  </div>


</div>
