.m-c-pronounce-letter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 40%;
  max-width: 640px;
  margin: 0 auto;
}

.m-c-letter {
  width: 90%;
  height: 90%;
  margin: auto;
  max-width: 390px;
}

.m-c-letter h2{
  color:       #FFEB3B;
  border:      none;
  outline:     none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  -webkit-text-stroke: 3px #534c58;
  text-shadow: 0px 4px 10px rgba(0,0,0,.5);
}

.m-c-record-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto;
}


.m-c-record-animation-grid {
  width: 100%;
  height: 100%;
}


.container-record-animation {
  width: 45px;
  height: 35px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.container-record-animation .lerp {
  background: #FF9800;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  margin: auto;
}

.animate .lerp.one {
  animation: record 900ms cubic-bezier(0.55, 0.085, 0.68, 0.53)  infinite alternate-reverse;
}

.animate .lerp.two {
  animation: record 900ms cubic-bezier(0.55, 0.085, 0.68, 0.53)  450ms infinite alternate-reverse;
}

.animate .lerp.three {
  animation: record 900ms cubic-bezier(0.55, 0.085, 0.68, 0.53)  50ms infinite alternate-reverse;
}

.animate .lerp.four {
  animation: record 900ms cubic-bezier(0.55, 0.085, 0.68, 0.53)  150ms infinite alternate-reverse;
}

@keyframes record {
  10%  { height: 50%;  }
  30%  { height: 30%;  }
  50%  { height: 100%; }
  70%  { height: 45%;  }
  100% { height: 20%;  }
}

.m-c-button-record-grid {
  width: 100%;
  height: 100%;
}

.m-c-button-record {
  width:   80px;
  height:  80px;
  outline: none;
  border-radius: 50%;
  background:    #2196f3;
  border:        none;
  box-shadow:    0px 2px 4px 1px rgba(0, 0, 0, 0.4);
}

@media (max-height: 480px) and (orientation: landscape)  {

  .m-c-pronounce-letter {
    grid-template-rows:    unset;
    grid-template-columns: 280px 250px;
    justify-content:       center;
  }

  .m-c-letter {
    width: 100%;
  }

  .m-c-record-grid {
    align-content: center;
    grid-template-rows: 60px 160px;
  }

}

@media (min-width: 769px) and (min-height: 481px)  {

  .m-c-pronounce-letter {
    max-height: calc(100% - 5%);
    background: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
  }

}
