.m-c-comments {
  width:      100%;
  padding:    10px 3%;
  box-sizing: border-box;
  background: #eaecee;
}

.m-c-addComent {
  margin-bottom: 10px;
  border-radius: 0;

  height: 45px;
  overflow: hidden;
  padding-top: 0;
  transition: .5s;
}

.m-c-addComent.commented {
  height:  unset;
  padding: 15px
}

.m-c-box-comment {
  margin-bottom: 10px;
  padding:       10px 15px 20px 15px;
}


.comment-box {
  resize: none;
  width:  90%;
  margin: 0 auto;
}

.card-comment {
  margin: 10px;
}

.comment-author {
  width:          100%;
  height:         40px;
  display:        flex;
  align-items:    center;
  margin-bottom:  10px;
  padding-bottom: 10px;
  border-bottom:  1px solid #c0c0c0
}

.comment-author .m-c-avatar {
  width: 50px;
  height: 100%;
}

.comment-author .m-c-comment-data {
  width:        calc(100% - 50px);
  height:       100%;
  display:      flex;
}

.comment-author .m-c-comment-data .m-c-name-date {
  width:          calc(100% - 40px);
  height:         100%;
  display:        flex;
  flex-direction: column;
}

.comment-author .m-c-comment-data .m-c-button-delete {
  width: 40px;
  height: 100%;
}

.author-name {
  margin:      0;
  font-weight: bold;
  font-size:   18px;
  color:     #1c88b3;
}

.m-c-date {
  font-size: 12px;
  color: #9e9e9e;
}

.m-c-spinner {
  height: 75px;
}

.box-spinner {
  width:  60px;
  height: 60px;
}

