<div class="m-c-comments">


  <div>
    
    <!-- AddComment -->
    <div class="m-c-container-addComment">


      <!----- Add Comment ----->
      <app-write-comment
        [currentUser]="currentUser"
        (evsWriteComments)="addComment($event)"
        >
      </app-write-comment>
      

    </div>
  
    <!-- AllComments -->
    <div class="m-c-container-comments" *ngIf="!loadingComments">

      <div class="m-c-container-comment" *ngFor="let item of comments" >

        <!----- box comments ----->
        <app-comment
          [data]="item"
          [answers]="item.answers_id.answers.length"
          (evsComment)="openDialog($event)"
          [idCurrentUser]="currentUser._id"
          >
        </app-comment>

        <div class="m-c-container-answers" >

          <!----- box answers ----->
          <div class="m-c-answers" >

            <div *ngIf="item.answers_id.answers.length > 0 && !showAnswers[item._id]" >

              <p
                class="m-c-msg-show-answers"
                (click)="showAnswers[item._id] = item._id"
                >
                Ver todas las respuestas
              </p>

            </div>

            <div *ngIf="item.answers_id && showAnswers[item._id] === item._id" >

              <app-answer
                *ngFor="let answer of item.answers_id.answers"
                [data]="answer"
                (evsComment)="openDialogAnswer($event, item._id)"
                [idCurrentUser]="currentUser._id"
                >
              </app-answer>

            </div>

          </div>

          <!----- Write answer  ----->
          <div class="m-c-answers" *ngIf="writeAnswer === item._id">
            <app-write-answer 
              [currentUser]="currentUser"
              (evsWriteComments)="addAnswer($event, item._id)"
              >
            </app-write-answer>
          </div>


          <div
            class="m-c-comment-guide"
            >
          </div>

          <div class="m-c-container-buttons-answer">

            <button
              mat-raised-button
              class="m-c-btn-write-answer"
              *ngIf="writeAnswer !== item._id"
              (click)="writeAnswer = item._id"
              >
              Responder
            </button>
  
            <button
              mat-button
              color="primary"
              (click)="writeAnswer = ''"
              class="m-c-btn-hide-write-answer"
              *ngIf="writeAnswer === item._id"
              >
              Ocultar
            </button>

          </div>

        </div>


      </div>
    </div>

  </div>


  <!-- Spinner -->
  <div
    class="m-c-spinner center"
    *ngIf="loadingComments"
    >

    <div
      class="box-spinner"
      >
      <mat-spinner></mat-spinner>
    </div>

  </div>


</div>