.m-c-mini-toolbar {
  height:       50px;
  width:        100%;
  background: #ebedee;
  display:      flex;
  align-items:  center;
  padding:      0 10px;
  box-sizing:   border-box;
  color:      white;
  position:     relative;
}

.fz-30{
  font-size: 30px;
  width:     30px;
  height:    30px;
}

.m-c-menu-content {
  width: 250px;
}

.line-width-example {
  height:      40px;
  display:     flex;
  align-items: center;
  margin:      5px auto;
}

.line-width-example hr {
  width:          85%;
  margin:         0 auto;
  border:         0;
  border-bottom:  10px solid #007cc0;
  border-radius:  10px;
  transition:     100ms;
}

.m-c-slider-control {
  padding:    0px 10px;
  box-sizing: content-box;
}

.m-c-slider {
  margin: 0px 5px;
  width:  225px
}

.m-c-color-buttons {
  padding: 5px;
  display: flex;
}

.btn-color {
  margin:       0 5px;
  width:        40px;
  height:       40px;
  box-shadow:   none;
  color:     white
}


.btn-next {
  border:         2px solid white;
  background:   #239B56;
  padding:        0 25px;
  border-radius:  2px;
  line-height:    unset;
  position:       absolute;
  right:          10px;
}

.icon-next {
  color:   white;
  font-size:    36px;
  height:       32px;
  width:        36px;
  line-height:  32px;
}