.toolbar {
  background:       linear-gradient(to top left, #195677 0%, #1e5475 25%, #186794 100%);
  color:          white;
  display:          flex;
  height:           56px;
  width:            100vw;
  font-size:        20px;
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  padding:          0 10px;
  box-sizing:       border-box;
  position:         fixed;
  /* background:       #1a5e7e; */
  background:       #1976d2;
}

.title-toolbar {
  font-weight:     bolder;
  font-size:       30px;
  cursor:          pointer;
  letter-spacing:  1.5px;
  outline:         none;
}



.mat-drawer-container {
  z-index: 2 !important;
}

.m-c-sidenav {
  height: 100%;
  min-width:      250px;
  max-width: 350px;
  width: 85vw;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  box-sizing: border-box;
}

.m-c-user-profile {
  width:      100%;
  height:     200px;
  background: #f44336;
  flex-direction: column;
  justify-content: space-evenly;
}


.m-c-img-user {
  width:              120px;
  height:             120px;
  border-radius:      50%;
  border: 2px solid #fdce82;
  display:            flex;
  justify-content:    center;
  align-items:        center;
  position:           relative;
}

.m-c-img-user::before {
  content:        '';
  width:          47px;
  height:         7px;
  border-radius:  50%;
  background:   rgba(0, 0, 0, 0.4);
  position:       absolute;
  bottom:         -15px;
}

.m-c-img-user img {
  width:  80px;
  height: 80px;
}

.m-c-user-name p {
  color:      white;
  font-weight:  bold;
  font-size:    24px;
  margin:       5px 0;
}

.m-c-list-items {
  width: 100%;
}