<div class="toolbar" *ngIf="isLoggedIn()">

  <div class="center">

    <mat-icon (click)="snav.toggle()" style="font-size: 40px; width: 40px; height: 40px">
      menu
    </mat-icon>

    <span class="title-toolbar" routerLink="">
      WEDUC
    </span>
  </div>

  <div *ngIf="isLoggedIn()" class="center">

    <mat-icon [matMenuTriggerFor]="menu" style="font-size: 45px; width: 45px; height: 45px">
      account_circle
    </mat-icon>

    <mat-menu #menu="matMenu">
      <button mat-menu-item style="text-transform: capitalize;" (click)="redirect()">
        {{ fullName}}
      </button>
      <button mat-menu-item (click)="logout()">
        Salir
      </button>
    </mat-menu>

  </div>

</div>


<!-- [mode]="over" -->
<mat-sidenav-container>
  <mat-sidenav #snav mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

    <div class="m-c-sidenav">

      <div class="m-c-user-profile center">

        <div class="m-c-img-user">
          <img [src]="urlImage()" width="100" height="100">
        </div>
        <div class="m-c-user-name">
          <p>{{fullName}}</p>
        </div>

      </div>

      <div class="m-c-list-items">

        <mat-nav-list *ngIf="isLoggedIn()">
          <a mat-list-item (click)="logoutAndClose()">
            Cerrar Sesion
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>

      </div>

    </div>

  </mat-sidenav>
</mat-sidenav-container>
