<div class="toolbar"  [ngClass]="{ 'center-title': (isLoggedIn$| async) === false }" >

  <div class="center">

    <mat-icon
      (click)="toggleDrawer()"
      *ngIf="isLoggedIn$ | async"
      class="m-c-icon-menu"
      >
      menu
    </mat-icon>

    <span class="title-toolbar" routerLink="">
      WEDUC
    </span>
  </div>

  <div *ngIf="isLoggedIn$ | async" class="center">

    <mat-icon [matMenuTriggerFor]="menu" class="m-c-icon-account">
      account_circle
    </mat-icon>

    <mat-menu #menu="matMenu">
      <button mat-menu-item style="text-transform: capitalize;" (click)="redirect()">
        {{ fullName$ | async }}
      </button>
      <button mat-menu-item (click)="logout()">
        Salir
      </button>
    </mat-menu>

  </div>

</div>
