/*---------- desktop version ----------*/
.d-c-game {
  width:          100%;
  max-width:      864px;
  height:         100%;
  display:        inline-flex;
  flex-direction: column;
  z-index:        20;
  transition:     0ms;
  position:       relative;
  box-sizing: border-box;
}

.d-c-toolbar {
  background:    #2196f3;
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  box-sizing:      border-box;
  height:          60px;
  width:           100%;
  padding:         0 10px;
  position: relative;
}

.d-c-letters {
  height:                calc(100% - 60px);
  width:                 100%;
  color:               white;
  position:              absolute;
  top:                   60px;
  display:               grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content:       space-evenly;
  overflow:              auto;
  z-index:               20;
  background: rgba(20, 20, 20);
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.d-c-letters::-webkit-scrollbar {
  display: none;
}

.d-c-option {
  width: 100px;
  height: 100px;
}

.m-circle-letter.d-c-resize {
  width: 95%;
  height: 95%;
  font-size: 50px;
}


@media (min-width: 864px) {
  .d-c-game {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    border: 6px solid #2196f3;
  }
}





/* ---------- Mobile Version ---------- */
.container.mobile {
  background-color: #222222;
}

.m-c-game {
  width: 100%;
  height: calc(100vh - 56px);
  display: inline-flex;
  flex-direction: column;
  z-index: 0;
  transition: 0ms;
}

.m-c-toolbar {
  background:     #2196f3;
  display:         flex;
  justify-content: space-between;
  align-items:     flex-end;
  padding:         0px 10px 4px 10px;
  box-sizing:      border-box;
  height:          40px;
  width:           100%;
}

.m-c-count {
  display: flex;
}

.m-c-count span {
  color: white;
  width: 24px;
  height: 24px;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 3px;
}

.m-c-count .succes {
  background-color: #239B56;
}

.m-c-count .failed {
  background-color: #f44336;
}

.help {
  width:          25px;
  height:         25px;
  border-radius:  2px;
  color:        white;
  font-weight:    bolder;
  font-size:      19px;
  outline:        none;
  cursor:         pointer;
  box-sizing:     border-box;
  border:         1.5px solid rgba(255, 255, 255, .81);
  background:     linear-gradient(to right, #fe4344 40%, #f15737 70%, #f1743c 100%);
  transition:     100ms;
  margin-bottom:  2px;
}

.m-c-letters {
  height: calc(100vh - 96px);
  width: 100%;
  color: white;
  position: absolute;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: space-around;
  overflow: auto;
  z-index: 20;
  background:  #141414;
}

.m-c-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-m-option {
  height: 75px;
  margin: 3px 0;
}

.m-circle-letter {
  width:           75px;
  height:          75px;
  font-size:       40px;
  margin:          3px 0;
  border-radius:   4%;
  font-weight:     700;
  padding:         0;
  display:         flex;
  outline:         none;
  border:          none;
  color:         white;
  justify-content: center;
  align-items:     flex-start;
  box-sizing:      border-box;
  font-family:     'Roboto', sans-serif;
  transition:      100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #fc793c;
}

.m-circle-letter.showOpt {
  background-color: #159e3e;
}

.circle-letter.showOpt   {
  background-color: #159e3e;
}

.destroy {
  transition: .4s;
  height: 0px;
  margin: 0;
}

.m-circle-letter.clear {
  display:   none;
}

.circle-letter.clear {
  display:   none;
}

.modify-s {
  width:    100%;
  height:   100%;
  z-index:  50;
  position: absolute;
}

