<div class="container" style="position: relative" >




  <!-- desktop version -->
  <div #mcGame class="d-c-game" *ngIf="!(isMobile$ | async) && !(queryMobileMatch$ | async)">


    <div class="d-c-toolbar">

      <mat-progress-bar
        *ngIf="!(isSettingData$ | async)"
        style="position: absolute; bottom: 0px; left: 0; height: 8px;"
        color="warn"
        [mode]="determinate"
        [value]="(progress$ | async)"
        >
      </mat-progress-bar>

      <div class="m-c-count" *ngIf="(isSettingData$ | async) === false" >
        <span class="failed"> {{ (data$ | async).countIncorrects }} </span>
        <span class="succes"> {{ (data$ | async).countCorrects }} </span>
      </div>
      <button
        class="help resize"
        (click)="help()"
        *ngIf="(isSettingData$ | async) === false && (data$ | async).opportunities > 0"
        [disabled]="showCorrectLetters$ | async"
        >
        ?
      </button>

    </div>



    <div class="d-c-background-game">

      <div class="d-c-letters" *ngIf="!(isSettingData$ | async)">

        <div class="d-c-letter" *ngFor="let group of gData$ | async">
  
          <app-game-option
            [id]="item"
            *ngFor="let item of group"
            [hide]="(selections$ | async)[item] === item"
            [desktop]="true"
            [destroy]="(data$ | async)['letter'] === item[0] && (selections$ | async)[item]"
            [onSelect]="onSelect"
            [highlight]="item[0] === (letter$ | async) && showCorrectLetters$ | async"
            >
          </app-game-option>
  
        </div>

      </div>

      <div style="height: 40px; width: 40px; margin: 10px auto" *ngIf="isSettingData$ | async" >
        <app-spinner-loading></app-spinner-loading>
      </div>

    </div>



  </div>




  <!-- mobile version -->
  <div #mcGame class="m-c-game" *ngIf="(isMobile$ | async) || (queryMobileMatch$ | async)">



    <div class="m-c-toolbar">

      <mat-progress-bar
        *ngIf="!(isSettingData$ | async)"
        style="position: absolute; top: 0px; left: 0;"
        color="warn"
        [mode]="determinate"
        [value]="(progress$ | async)"
        >
      </mat-progress-bar>

      <div class="m-c-count" *ngIf="(isSettingData$ | async) === false" >
        <span class="failed"> {{(data$ | async).countIncorrects}} </span>
        <span class="succes"> {{(data$ | async).countCorrects}} </span>
      </div>

      <button 
        class="help center"
        (click)="help()"
        *ngIf="(isSettingData$ | async) === false && (data$ | async).opportunities > 0"
        [disabled]="showCorrectLetters$ | async"
        >
        ?
      </button>

    </div>


    <div class="background-game">
      
      <div class="m-c-letters" *ngIf="!(isSettingData$ | async)">
  
        <div class="m-c-letter" *ngFor="let group of gData$ | async">

          <app-game-option
            [id]="item"
            *ngFor="let item of group"
            [desktop]="false"
            [hide]="(selections$ | async)[item] === item"
            [destroy]="(data$ | async)['letter'] === item[0] && (selections$ | async)[item]"
            [onSelect]="onSelect"
            [highlight]="item[0] === (letter$ | async) && showCorrectLetters$ | async"
            >
          </app-game-option>

        </div>
  
      </div>


      <div style="height: 40px; width: 40px; margin: 10px auto" *ngIf="isSettingData$ | async">
        <app-spinner-loading></app-spinner-loading>
      </div>


    </div>



  </div>




  <div class="container-well-done-dialog" *ngIf="showSuccessScreen$ | async">
    <app-well-done></app-well-done>
  </div>



</div>
