<mat-tab-group color="accent" backgroundColor="warn" mat-align-tabs="start" >


  <!-------- Course details tab -------->
  <mat-tab >

    <ng-template mat-tab-label>

      <span
        class="center tab-title"
        (click)="showComments = false"
        [class.lowOpacity]="showComments"
        >
        Detalles
      </span>

    </ng-template>

    <div class="m-c-description">

      <app-card-details></app-card-details>

    </div>

  </mat-tab>


  <!-------- Comments tab -------->
  <mat-tab>

    <ng-template mat-tab-label>

      <span 
        class="center tab-title"
        (click)="showComments = true"
        [class.lowOpacity]="!showComments"
        >
        Comentarios
      </span>

    </ng-template>

    <app-discussion-system></app-discussion-system>
    
  </mat-tab>


</mat-tab-group>