<mat-card class="m-c-box-comment">

  <div class="comment-author">



    <div class="m-c-avatar">

      <img mat-card-avatar class="author-avatar" [src]="genUrl(data.user_id.avatar)">

    </div>

    <div class="m-c-comment-data">

      <div class="m-c-name-date">

        <p class="author-name">
          {{ data.user_id.firstName }} {{ data.user_id.lastName }}
        </p>

        <small class="m-c-date">
          {{ data.date | date }}
        </small>

      </div>

      <div class="m-c-button-delete center">

        <button
          mat-icon-button
          (click)="evOpenDialog(data._id)"
          *ngIf="
          (userId$ | async) === data.user_id._id
          && !data.temp_id
          && !(answersToDelete$ | async)[data._id]
          "
        >
          <mat-icon color="warn">
            delete_forever
          </mat-icon>
        </button>

        <div style="width: 30px; height: 30px;" *ngIf="(answersToDelete$ | async)[data._id]" >
          <app-spinner-loading></app-spinner-loading>
        </div>

      </div>

    </div>


  </div>


  <mat-card-content>
    <p class="comment-text">{{data.text}}</p>
  </mat-card-content>

</mat-card>
