.container {
  display: block;
}

.c-detail-letter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 200ms;
  position: relative;
}
















/* target styles */
.c-letter-presentation {
  position: absolute;
  background-color: rgba(0, 0, 0, .80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}

.show {
  opacity: 1;
}

.card-letter {
  width: 95%;
  height: 94%;
  max-height: 490px;
  max-width: 350px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-sizing: border-box;
  position: relative;
  border: 4px solid #f85e5e;
}

.c-cat {
  position: absolute;
  top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 30s alternate infinite;
  transition: 100ms;
}

@keyframes rotate {
  30% {
    transform: rotate(-20deg)
  }

  50% {
    transform: rotate(0deg)
  }

  80% {
    transform: rotate(20deg)
  }
}

.c-cat:active {
  transform: scale(.97);
}

.c-letter {
  width: 100%
}

.c-letter h1 {
  text-align: center;
  font-size: 200px;
  margin: 0px;
  margin-top: -35px;
  color: rgb(255, 191, 0);
  -webkit-text-stroke: 3px #202020;
}


.button-next {
  position: absolute;
  bottom: 10%;
  width: 200px;
  font-size: 20px;
}
