.container {
  display: block;
}

.c-detail-letter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 200ms;
  position: relative;
}

.card-game {
  width: 94%;
  max-height: 720px;
  max-width: 640px;
  height: 96%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.container-cards {
  perspective: 800;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.333333333333336%);
}

.carta {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid white;
  transform-style: preserve-3d;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans';
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 2)
}

.active     { transform: rotateY(180deg); }
.showAll    { transform: rotateY(180deg); }
.deactivate { transform: rotateY(0deg);   }

.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.frente {
  background-color: #009c4e;
  background: linear-gradient(to bottom left, #009b4d 10%, #00b35f 64%, #08ac5a 100%)
}

.atras {
  background-color: rgb(255, 90, 72);
  transform: rotateY(180deg);
}


/* target styles */
.c-letter-presentation {
  position: absolute;
  background-color: rgba(0, 0, 0, .98);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}

.show {
  opacity: 1;
}

.card-letter {
  width: 95%;
  height: 94%;
  max-height: 490px;
  max-width: 350px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-sizing: border-box;
  position: relative;
  border: 4px solid #f85e5e;
}

.c-cat {
  position: absolute;
  top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 30s alternate infinite;
  transition: 100ms;
}

@keyframes rotate {
  30% { transform: rotate(-20deg) }
  50% { transform: rotate(0deg)   }
  80% { transform: rotate(20deg)  }
}

.c-cat:active {
  transform: scale(.97);
}

.c-letter {
  width: 100%
}

.c-letter h1 {
  text-align: center;
  font-size: 200px;
  margin: 0px;
  margin-top: -35px;
  color: rgb(255, 191, 0);
  -webkit-text-stroke: 3px #202020;
}


.button-next {
  position: absolute;
  bottom: 10%;
  width: 200px;
  font-size: 20px;
}

@media (min-width: 320px) and (orientation: landscape) {

  .card-letter {
    width: 85% ;
    max-width: 640px ;
    justify-content: space-around;
    max-width: 600px;
    max-height: 400px;
  }

  .c-cat {
    right: calc((100% / 4) - 50px);
    width: 120px;
    height: 120px;
    top: calc(100% / 6 );
  }

  .c-letter {
    width: 100%;
  }

  .c-letter h1 {
    text-align: left;
    margin-left: calc(100% / 8);
  }

  .button-next {
    margin-bottom: 0;
    right: calc((100% / 4) - 90px);
    bottom: calc(100% / 6);
  }

}
