<mat-card class="m-c-box-comment" *ngIf="!(loadingComments$ | async)" >

  <div class="comment-author">


    <div class="m-c-avatar">
      <img mat-card-avatar class="author-avatar" [src]="genUrl(data.user.avatar)">
    </div>


    <div class="m-c-comment-data">


      <div class="m-c-name-date">

        <p class="author-name">
          {{ data.user.firstName }} {{ data.user.lastName }}
        </p>

        <small class="m-c-date" >
          {{ data.date | date }}
        </small>


      </div>

      <div class="m-c-button-delete center">

        <button
          mat-icon-button
          (click)="evOpenDialog(data.id)"
          *ngIf="
          (userId$ | async) === data.user.id
          && !data.temp_id && answers === 0
          && !(commentsToDelete$ | async)[data.id]
          "
          >
          <mat-icon color="warn">
            delete_forever
          </mat-icon>
        </button>

        <div style="width: 30px; height: 30px;" *ngIf="(commentsToDelete$ | async)[data.id]" >
          <app-spinner-loading></app-spinner-loading>
        </div>

      </div>

    </div>

    
  </div>

  <mat-card-content>
    <p class="comment-text">{{data.text}}</p>
  </mat-card-content>

</mat-card>
