<div class="d-c-handwriting center" *ngIf="!isMobile()">

  <div class="d-c-container-canvas center">

    <app-guide-lines [top]="30" *ngIf="showGuidLines"></app-guide-lines>

    <button
      mat-icon-button
      class="icon-replay"
      [style.background]="lineColor"
      (click)="repeat()"
      >
      <mat-icon >replay</mat-icon>
    </button>

    <canvas id="canvasEl" #canvasDraw style="z-index: 2" ></canvas>

  </div>

</div>

<div class="container-handwriting center" *ngIf="isMobile()">



    <div class="m-c-container-canvas">
      <canvas
        id="canvasEl"
        #canvasDraw
        style="z-index: 2"
        >
      </canvas>
      <app-guide-lines [top]="0" *ngIf="showGuidLines"></app-guide-lines>
    </div>



</div>
