<div class="d-c-handwriting center" *ngIf="!isMobile()">

  <div class="d-c-container-canvas center">
    <app-guide-lines [top]="30" *ngIf="showGuidLines" >
    </app-guide-lines>
    <button mat-icon-button class="icon-replay" [style.background]="lineColor" (click)="repeat()">
      <mat-icon >replay</mat-icon>
    </button>
    <canvas
      id="canvasEl"
      #canvasDraw
      style="z-index: 2"
      >
    </canvas>
  </div>

</div>

<div class="container-handwriting" *ngIf="isMobile()">
  <div class="container-canvas">

    <div class="m-c-mini-toolbar top">


      <button mat-icon-button [matMenuTriggerFor]="menuFontSize">
        <mat-icon class="fz-30">create</mat-icon>
      </button>
      <mat-menu #menuFontSize="matMenu">

        <div class="m-c-menu-content">

          <div class="line-width-example">
            <hr
              [style.borderBottomWidth.px]="lineWidth"
              [style.borderBottomColor]="lineColor"
              >
          </div>
          <div class="m-c-slider-control">
            <mat-slider
              class="m-c-slider"
              [max]="24"
              [min]="1"
              [step]="2"
              (change)="startExample()"
              [(ngModel)]="lineWidth"
              >
            </mat-slider>
          </div>

        </div>

      </mat-menu>


      <button mat-icon-button [matMenuTriggerFor]="menuColor">
        <mat-icon class="fz-30">format_color_fill</mat-icon>
      </button>
      <mat-menu #menuColor="matMenu">
        <div class="m-c-color-buttons">
          <button 
            *ngFor="let color of colors"
            [style.background]="color"
            (click)="changeColor(color)"
            class="btn-color"
            mat-fab
            >
          </button>
        </div>
      </mat-menu>


      <button mat-icon-button>
        <mat-icon class="fz-30" *ngIf="showGuidLines" (click)="showGuidLines = false" >visibility</mat-icon>
        <mat-icon class="fz-30" *ngIf="!showGuidLines" (click)="showGuidLines = true" >visibility_off</mat-icon>
      </button>

    </div>

    <div class="m-c-content-handwriting center">

      <div class="m-c-container-canvas">
        <canvas id="canvasEl" #canvasDraw style="z-index: 2" ></canvas>
        <hr class="m-c-line-guide one" *ngIf="showGuidLines">
        <hr class="m-c-line-guide two" *ngIf="showGuidLines">
        <hr class="m-c-line-guide three" *ngIf="showGuidLines">
      </div>

    </div>

    <div class="m-c-mini-toolbar bottom">


      <button mat-flat-button color="warn" (click)="repeat()">
        <mat-icon class="fz-36 center">replay</mat-icon>
      </button>

      <button mat-flat-button color="warn" (click)="hide()" style="background: #239B56">
        <mat-icon class="fz-36 center">arrow_forward</mat-icon>
      </button>


    </div>

  </div>
</div>
