<div class="d-c-handwriting center" *ngIf="!isMobile()">

  <div class="d-c-container-canvas center">
    <hr class="line-guide one">
    <hr class="line-guide two">
    <hr class="line-guide three">
    <mat-icon class="icon-pen">create</mat-icon>
    <canvas
      id="canvasEl"
      #canvasDraw
      style="z-index: 2"
      >
    </canvas>
  </div>

</div>

<div class="container-handwriting" *ngIf="isMobile()">

  <div class="container-canvas">
    <canvas id="canvasEl" #canvasDraw style="z-index: 2" ></canvas>
    <hr class="line-guide one">
    <hr class="line-guide two">
    <hr class="line-guide three">
  </div>

  <mat-icon class="icon reload press" (click)="startExample()"> replay </mat-icon>
  <mat-icon class="icon arrow press"  (click)="hide()"        > arrow_forward </mat-icon>


</div>
