<div class="d-c-handwriting center" *ngIf="!(isMobile$ | async)  && !(queryMobileMatch$ | async)">

  <div class="d-c-container-canvas center">

    <app-guide-lines
      [top]="30"
      *ngIf="(preferences$ | async).showGuideLines"
      >
    </app-guide-lines>

    <button
      mat-icon-button
      (click)="repeat()"
      class="icon-replay"
      [style.background]="(preferences$ | async).lineColor"
      >
      <mat-icon >replay</mat-icon>
    </button>

    <canvas id="canvasEl" #canvasDraw style="z-index: 2" ></canvas>

  </div>

</div>

<div
  class="container-handwriting center"
  *ngIf="(isMobile$ | async) || (queryMobileMatch$ | async)"
  >



    <div class="m-c-container-canvas">
      <canvas
        id="canvasEl"
        #canvasDraw
        style="z-index: 2"
        >
      </canvas>
      <app-guide-lines
        [top]="0"
        *ngIf="(preferences$ | async).showGuideLines"
        >
      </app-guide-lines>
    </div>



</div>
