<div class="find-letter-container">

  <div class="find-letter-card">


    <div class="container-image">

      
      <div
        #mcImage
        matRipple
        [matRippleColor]="'rgba(255,255,255, 0.08)'"
        [matRippleRadius]="120"
        class="circle-image center"
        (click)="onPressImage(data.word)"
        >
        <img
          class="m-image"
          [src]="data.imgUrl"
          >
        <div class="shadow"></div>
      </div>

    </div>



    <div class="container-options" >

      <div #mcWord class="container-options-letter center">
        <button
          matRipple
          [id]="letter"
          class="option"
          (click)="onPressOption(letter)"
          [ngStyle]="buttonStyle"
          *ngFor="let letter of data.letterIds"
          [disabled]="selections[letter] === letter || disableAll"
          [class.correct]="correctSelections[letter] === letter"
          [class.incorrect]="wrongSelections[letter] === letter"
          >
          <!-- [class.incorrect]="(wrongSels$ | async)[letter] === letter"
          [class.correct]="(correctsSels$ | async)[letter] === letter"
          [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)" -->
          {{letter[0]}}
        </button>
      </div>

    </div>


  </div>

</div>