<div
  #container class="container"
  [class.desktop]="!(isMobile$ | async) && !(queryMobileMatch$ | async)"
  >


  <!-- Desktop Version -->
  <div #cont class="d-container"
    *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)"
    >

    <mat-card class="d-card-identify">

      <div class="d-container-circle" >
        <div
          matRipple
          (click)="listenWord()"
          [matRippleRadius]="120"
          class="d-c-container-img center"
          [matRippleColor]="'rgba(255,255,255, 0.035)'"
          >
          <img
            class="d-c-image"
            [src]="(data$ | async).imgUrl"
            >
          <div class="shadow"></div>
        </div>
      </div>
  
      <div class="container-letters center">
        <button
          [id]="letter"
          class="option center press"
          (click)="onSelect(letter)"
          *ngFor="let letter of (data$ | async).letterIds"
          [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)"
          [class.correct]="(correctsSels$ | async)[letter] === letter"
          [class.incorrect]="(wrongSels$ | async)[letter] === letter"
          matRipple 
          
          >
          {{letter[0]}}
        </button>
      </div>
  
      <mat-icon matRipple [matRippleCentered]="true" [matRippleRadius]="16" class="d-icon-help" (click)="instructions()">help</mat-icon>
  
  
    </mat-card>


    <div
      class="d-container-progress-bar"
      [style.top.px]="((container.clientHeight - cont.clientHeight) / 4) - 4"
      >
      <mat-progress-bar
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async "
        style="height: 100%; border-radius: 50px"
        >
      </mat-progress-bar>
    </div>

  </div>



  <!-- Mobile Version -->
  <div *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))" class="container-mobile">

    <div class="m-c-slider" [ngStyle]="calcPercentPosition()" [style.width.%]="100 * ( fldata$ | async).length">

      <div
        style="height: 100%; width: 100%"
        *ngFor="let e of (fldata$ | async); let i=index"
        >
        <app-find-letter-card [data]="e"></app-find-letter-card>
      </div>

      <!-- <div
        *ngFor="let e of data; let i=index"
        class="container-card center"
        [style.background]="e"
        >
        
        <div>
          <app-find-letter-card></app-find-letter-card>
        </div> -->

        <!-- <div #mcCardIdentify class="m-c-card-identify-letter" >

          <mat-card class="m-c-card">
        
            <div class="container-circle" >
              <div
                #mcImage
                matRipple
                [matRippleColor]="'rgba(255,255,255, 0.05)'"
                [matRippleRadius]="80"
                class="m-c-image center"
                >
                <img
                  class="m-image"
                  (click)="listenWord()"
                  [src]="(data$ | async).imgUrl"
                  >
                  <div class="shadow"></div>
              </div>
            </div>
        
            <div #mcWord class="m-c-container-word center">
              <button
                matRipple
                [id]="letter"
                class="option"
                (click)="onSelect(letter)"
                [ngStyle]="genStyles(mcWord)"
                *ngFor="let letter of (data$ | async).letterIds"
                [class.incorrect]="(wrongSels$ | async)[letter] === letter"
                [class.correct]="(correctsSels$ | async)[letter] === letter"
                [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)"
                >
                {{letter[0]}}
              </button>
            </div>
        
            <mat-icon class="i-help" (click)="instructions()" >help</mat-icon>
        
          </mat-card>

        </div> -->


        <!-- <div>

          <button *ngIf="i > 0" (click)="prev(i)" >prev</button>
          <button *ngIf="i < data.length - 1" (click)="next(i)" >next</button>
          {{e}} {{ i }}

        </div> -->

      <!-- </div> -->

    </div>


  </div>





  <!-- <div
    #mcCardIdentify class="m-c-card-identify-letter"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    > -->




    <!-- <mat-card class="m-c-card">
  
      <div class="container-circle" >
        <div
          #mcImage
          matRipple
          [matRippleColor]="'rgba(255,255,255, 0.05)'"
          [matRippleRadius]="80"
          class="m-c-image center"
          >
          <img
            class="m-image"
            (click)="listenWord()"
            [src]="(data$ | async).imgUrl"
            >
            <div class="shadow"></div>
        </div>
      </div>
  
      <div #mcWord class="m-c-container-word center">
        <button
          matRipple
          [id]="letter"
          class="option"
          (click)="onSelect(letter)"
          [ngStyle]="genStyles(mcWord)"
          *ngFor="let letter of (data$ | async).letterIds"
          [class.incorrect]="(wrongSels$ | async)[letter] === letter"
          [class.correct]="(correctsSels$ | async)[letter] === letter"
          [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)"
          >
          {{letter[0]}}
        </button>
      </div>
  
      <mat-icon class="i-help" (click)="instructions()" >help</mat-icon>
  
    </mat-card> -->

    <!-- <div
      class="m-c-container-progress-bar"
      [ngStyle]="calcPositionProgressBar(container, mcCardIdentify)"
      >
      <mat-progress-bar
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async "
        style="height: 100%; border-radius: 50px"
        >
      </mat-progress-bar>
    </div> -->

  <!-- </div> -->




  
  
  
  
 
  <!-- Animation Spinner -->
  <div
    *ngIf="isSettingData$ | async"
    class="container-spinner-loading"
    >
    <app-spinner-loading>
    </app-spinner-loading>
  </div>

  <!-- Success Animation -->
  <app-success-animation
    *ngIf="showSuccessScreen$ | async"
    >
  </app-success-animation>

</div>
