<div
  #container class="container"
  [class.desktop]="!(isMobile$ | async) && !(queryMobileMatch$ | async)"
  >


  <!-- Desktop Version -->
  <div #cont class="d-container"
    *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)"
    >

    <div
      class="m-c-slider"
      [ngStyle]="calcPercentPosition()"
      [style.width.%]="100 * ( fldata$ | async).length"
      >

      <div
        style="height: 100%; width: 100%"
        *ngFor="let e of (fldata$ | async); let i=index"
        >
        <app-find-letter-card
          [data]="e"
          [onPressImage]="listenWord"
          [onPressOption]="onSelect"
          [wrongSelections]="wrongSels$ | async"
          [correctSelections]="correctsSels$ | async"
          [selections]="selections$ | async"
          [disableAll]="disableAll$ | async"
          >
        </app-find-letter-card>
      </div>

    </div>

  </div>



  <!-- Mobile Version -->
  <div *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))" class="container-mobile">

    <div
      class="m-c-slider"
      [ngStyle]="calcPercentPosition()"
      [style.width.%]="100 * ( fldata$ | async).length"
      >

      <div
        style="height: 100%; width: 100%"
        *ngFor="let e of (fldata$ | async); let i=index"
        >
        <app-find-letter-card
          [data]="e"
          [onPressImage]="listenWord"
          [onPressOption]="onSelect"
          [wrongSelections]="wrongSels$ | async"
          [correctSelections]="correctsSels$ | async"
          [selections]="selections$ | async"
          [disableAll]="disableAll$ | async"
          >
        </app-find-letter-card>
      </div>

    </div>

  </div>


  <div class="container-pagination">
    <div
      class="dot"
      *ngFor="let e of (fldata$ | async); let i=index"
      [class.active]="i === (index$ | async)"
      >
    </div>
  </div>


  <!-- Animation Spinner -->
  <div *ngIf="isSettingData$ | async" class="container-spinner-loading">
    <app-spinner-loading></app-spinner-loading>
  </div>

  <!-- Success Animation -->
  <div *ngIf="showSuccessScreen$ | async" style="position: absolute; height: 100%; width: 100%" >
    <app-well-done></app-well-done>
  </div>

</div>
