<div
  class="background-well-done-dialog"
  [class.hide-opacity]="activeHideDialog"
  [class.show-opacity]="activeShowDialog"
  >

  <div
    class="container-well-done"
    [class.show-well-done-dialog]="activeShowDialog"
    [class.hide-well-done-dialog]="activeHideDialog"
    >

    <div class="dialog-well-done">




      <div class="dialog-icon" >

        <div class="container-check">

          <div class="icon-check">
            <span class="line tip animate"  ></span>
            <span class="line long animate" ></span>
          </div>
        
        </div>
            
      </div>



      <div class="dialog-text">
        <h2>Bien Hecho</h2>
      </div>



    </div>

  </div>

</div>