<div
  class="container"
  style="display: block"
  [class.overflow-auto]="isMobile() === true"
  >


  <!-------- Desktop version -------->
  <div
    class="c-desktop hide"
    [class.show]="!loading"
    *ngIf="!loading && isMobile() === false"
    >

    <div
      #cdVideo
      class="c-d-video-desc"
      [class.quit-scroll-bar]="!isMobile()"
      >

      <!-------- Video -------->
      <div #videoDesktop class="c-d-video">

        <iframe
          height="569"
          width="1012"
          frameborder="0"
          allowfullscreen
          [src]="videoUrl"
          class="iframe-youtube"
          allow="autoplay; encrypted-media"
          >
        </iframe>


      </div>

      <!----- Description ----->
      <div class="c-d-description">

        <app-card-details
          [data]="data"
          *ngIf="!mobileQuery.matches"
          >
        </app-card-details>

        <app-details-and-comments 
          [data]="data"
          [course_id]="course_id"
          *ngIf="mobileQuery.matches"
          >
        </app-details-and-comments>

      </div>

    </div>

    <div class="c-d-comments">

      <div
        *ngIf="!mobileQuery.matches"
        class="d-c-progress-title center"
        >
        <h2>Comentarios</h2>
      </div>

      <app-discussion-system
        [course_id]="course_id"
        >
      </app-discussion-system>

    </div>

  </div>



  <!-------- Mobile Version -------->
  <div
    class="hide"
    [class.show]="!loading"
    *ngIf="!loading && isMobile() === true"
    style="overflow: auto"
    >


    <div
      #cBackgroundVideo
      class="container-background-video"
      [class.unsetHeight]="unsetHeight === true"
      >

      <div class="c-video">

        <iframe 
        height="569"
        width="1012"
        frameborder="0"
        allowfullscreen
        [src]="videoUrl"
        class="iframe-youtube"
        allow="autoplay; encrypted-media"
        >
        </iframe>

      </div>

    </div>


    <div class="m-c-detail-course">
      <app-details-and-comments 
        [data]="data"
        [course_id]="course_id"
        >
      </app-details-and-comments>
    </div>


  </div>



  <div *ngIf="loading" id="loading" style=" display:flex; justify-content:center; align-items:center "></div>
</div>