.m-c-card-signup {
  padding:          0;
  border-radius:    3px;
  padding:          0 5%;
  position:         relative;
  width:            96%;
  height:           98%;
  box-sizing:       border-box;
  max-height:       580px;
  max-width:        540px;
}

.icon-signup {
  position: absolute;
  left:     calc((100% / 2) - 80px);
  top:      calc((100% / 2) - 80px);
}

.icon-signup img {
  width:    160px;
  height:   160px;
  opacity:  .12;
}

.signup-title {
  text-align:   center;
  font-weight:  normal;
  font-family:  'Roboto', sans-serif;
  font-size:    32px;
  margin: 5px 0;
}

.m-c-signup-form {
  display:        flex;
  flex-direction: column;
  width:          95%;
  margin:         0px auto;
  padding:        0;
}

.m-c-button-signup {
  margin-top:   8px;
  font-size:    20px;
  font-weight:  bold;
  background: #fa7e29;
  background:   linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
}

.redirect-signup {
  font-size:        18px;
  font-family:      'Roboto', sans-serif;
  text-align:       center;
  margin:           0 auto;
  text-decoration:  underline;
  color:          #0a8ecd;
  cursor:           pointer;
}

.container-spinner {
  height: 30px;
  margin: 10px;
  margin-bottom: 0px;
}

.container-spinner > div {
  height: 30px;
  width: 30px;
}

@media (min-width: 1024px) {
  .m-c-card-signup {
    padding: 10px 50px;
  }
}

@media (max-height: 640px) {

  .container {
    overflow: auto;
    display: block;
  }

  .m-c-card-signup {
    height: 560px;
    margin: 10px;
    width: calc( 100% - 20px);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
