<div class="container-root">


  <div class="container-toolbar" [class.shadow]="!(isMobile$ | async) && !(queryMobileMatch$ |async)">
    <app-toolbar ></app-toolbar>
  </div>


  <div class="container-content">


    <mat-drawer-container
      class="example-container"
      (backdropClick)="closeDrawer()"
      >
  
      <mat-drawer
        class="menu"
        [mode]="'over'"
        [opened]="opened$ | async"
        >

        <div
          class="m-c-sidenav"
          *ngIf="isLoggedIn$ | async"
          >


          <!-- Drawer Header User Profile -->
          <div
            #backDrawer
            class="m-c-user-profile"
            [style.height.px]="backDrawer.clientWidth * .55"
            >

            <img
              class="background-drawer"
              [style.height.px]="backDrawer.clientWidth * .55"
              [src]="urlBackground$ | async"
              >

            <div class="m-c-img-user">
              <img
                [src]="urlAvatat$ | async"
                width="100"
                height="100"
                >
            </div>

            <div class="m-c-user-data">
              <p class="full-name" >{{ fullName$ | async }}</p>
              <p class="email" >{{ email$ | async }}</p>
            </div>
    
          </div>
    

          <!-- Drawer Items List -->
          <div
            class="m-c-list-items"
            >
    
            <mat-nav-list *ngIf="isLoggedIn$ | async">
              <a
                mat-list-item
                (click)="logoutAndClose()"
                >
                Cerrar Sesion
              </a>
              <mat-divider></mat-divider>
            </mat-nav-list>
    
          </div>
    

        </div>

      </mat-drawer>
  
      <mat-drawer-content style="background: #fafafa">
  
        <div  class="container-router-outlet">
            <router-outlet></router-outlet>
        </div>
  
      </mat-drawer-content>
  
    </mat-drawer-container>


  </div>


</div>
