<div style="width: 100vw; height: 100vh;" >

  <div class="container-toolbar">
    <app-toolbar ></app-toolbar>
  </div>

  <div class="container-content">
    <mat-drawer-container (backdropClick)="closeDrawer()" class="example-container">
  
      <mat-drawer
        class="menu"
        [opened]="opened$ | async"
        [mode]="'over'"
        >

        <div class="m-c-sidenav" *ngIf="isLoggedIn$ | async" >

          <div #backDrawer [style.height.px]="backDrawer.clientWidth * .55" class="m-c-user-profile">

            <img class="background-drawer" [style.height.px]="backDrawer.clientWidth * .55" [src]="urlBackground$ | async" alt="">

            <div class="m-c-img-user">
              <img  [src]="urlAvatat$ | async" width="100" height="100">
            </div>

            <div class="m-c-user-data">
              <p class="full-name" >{{ fullName$ | async }}</p>
              <p class="email" >{{ email$ | async }}</p>
            </div>
    
          </div>
    
          <div class="m-c-list-items">
    
            <mat-nav-list *ngIf="isLoggedIn()">
              <a mat-list-item (click)="logoutAndClose()">
                Cerrar Sesion
              </a>
              <mat-divider></mat-divider>
            </mat-nav-list>
    
          </div>
    
        </div>

      </mat-drawer>
  
  
      <mat-drawer-content style="background: #eaecee;">
  
        <div  class="container-router-outlet">
            <router-outlet></router-outlet>
        </div>
  
  
      </mat-drawer-content>
  
  
    </mat-drawer-container>
  </div>
</div>


