<div #contGrid class="container" [style.overflow]="(isMobile$ | async) ? 'hidden' : 'auto'">




  <!------ Desktop Version ------>
  <div
    class="d-c-menu-letters"
    *ngIf="!(loading$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)"
    >


    <mat-card class="d-c-cards">

      <div class="d-c-title center">
        <h1> El Abecedario </h1>
      </div>


      <div class="d-c-grids">

        <!-- letter card -->
        <mat-card class="d-c-card" *ngFor="let item of lettersMenu$ | async" >


          <div class="d-c-image center" (click)="listenWord(item.letter, item.word)">
            <img [src]="item.imgUrl">
          </div>


          <div class="d-c-letters center">

            <div class="d-c-upper">
              <button
                (click)="listenLetter(item.letterUpperCase, 'u')"
                [disabled]="speaking === true"
                [class.highlight]="( selectedLetter$ | async ) === item.letter"
                [class.highlight]=" ( highlightLetter$ | async ) === item.letterUpperCase"
                >
                {{item.letterUpperCase}}
              </button>
            </div>

            <div class="d-c-lower">
              <button
                [disabled]="speaking === true"
                (click)="listenLetter(item.letterLowerCase, 'l')"
                [class.highlight]=" ( selectedLetter$ | async ) === item.letter"
                [class.highlight]=" ( highlightLetter$ | async ) === item.letterLowerCase"
                >
                {{item.letterLowerCase}}
              </button>
            </div>

          </div>

          <button 
            color="warn" mat-raised-button
            class="d-c-button" (click)="redirect(item.letter)"
            >
            Empezar
          </button>

          <mat-icon class="d-ic-sound center" (click)="listenSoundLetter(item.letter)">
            volume_up
          </mat-icon>

        </mat-card>

      </div>

    </mat-card>


    <mat-card class="d-c-progress">

      <div class="d-c-title">
        <h1>Progreso</h1>
      </div>

      <app-learned-letters></app-learned-letters>

    </mat-card>


  </div>




  <!------ Mobile Version ------>
  <div
    class="m-c-menu-letters"
    *ngIf="
      ( !(loading$ | async) && (isMobile$ | async) ) ||
      ( !(loading$ | async) && !(isMobile$ | async) && (queryMobileMatch$ | async) )
    "
    >

    
    <div class="m-c-alphabet">
      <mat-tab-group color="accent" backgroundColor="warn" mat-align-tabs="start">



        <!--------- tab_Alphabet ---------->
        <mat-tab>

          <ng-template mat-tab-label>
            <span
              class="center tab-title"
              (click)="goToAlphabet()"
              [class.lowOpacity]="(activeTab$ | async) !== 'alphabet'"
              >

              <mat-icon class="icon-alphabet">
                font_download
              </mat-icon>
              Abecedario

            </span>
          </ng-template>

          <div class="c-cards">
            <app-alphabet [contGrid]="contGrid"></app-alphabet>
          </div>

        </mat-tab>



        <!------ tab_learned_letters ------>
        <mat-tab>

          <ng-template mat-tab-label>
            <span 
              class="center tab-title"
              (click)="goToLearnedLetters()"
              [class.lowOpacity]="(activeTab$ | async) !== 'learneds'"
              >

              <mat-icon class="icon-star">
                star
              </mat-icon>
              Aprendidas

            </span>
          </ng-template>

          <app-learned-letters></app-learned-letters>

        </mat-tab>


      </mat-tab-group>
    </div>


  </div>


  <div *ngIf="loading$ | async" class="container-loading">
    <app-spinner-loading></app-spinner-loading>
  </div>


</div>
