<div [ngStyle]="genCols(contGrid)" class="c-cont-grids" >
  <mat-card *ngFor="let item of lettersMenu$ | async" class="m-c-card">
  
    <button
      color="warn"
      class="ic-sound center"
      mat-raised-button
      (click)="listenLetter(item.letter)"
      >
  
      <mat-icon class="sound-icon center" >volume_up</mat-icon>
  
    </button>
  
  
    <div class="letters" (click)="redirect(item.letter)">
  
  
      <div class="upper center">
        <button [class.highlight]="( selectedLetter$ | async ) === item.letter">
          {{item.letter | uppercase}}
        </button>
      </div>
  
  
      <div class="lower center">
        <button [class.highlight]="( selectedLetter$ | async ) === item.letter">
          {{item.letter | lowercase}}
        </button>
      </div>
  
  
    </div>
  
    <div class="image center" (click)="redirect(letter)"> <img [src]="item.imgUrl"> </div>
  </mat-card>
</div>