<!-- <div *ngIf="isMobile()"> -->
<div [ngStyle]="genCols(contGrid)" class="c-cont-grids" >
  <mat-card *ngFor="let letter of letters" class="m-c-card">
  
    <button
      color="warn"
      class="ic-sound center"
      mat-raised-button
      (click)="listenLetter(letter)"
      >
  
      <mat-icon class="sound-icon center" >volume_up</mat-icon>
  
    </button>
  
  
    <div class="letters" (click)="openModal(letter)">
  
  
      <div class="upper center">
        <button [class.highlight]="selections[letter] === letter">
          {{letter | uppercase}}
        </button>
      </div>
  
  
      <div class="lower center">
        <button [class.highlight]="selections[letter] === letter">
          {{letter | lowercase}}
        </button>
      </div>
  
  
    </div>
  
    <div class="image center" (click)="openModal(letter)"> <img [src]="getImage(letter)"> </div>
  </mat-card>
</div>