.d-c-course-detail-desktop {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.d-c-columns-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.d-c-column-one {
  padding: 20px 10px 0 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.d-c-column-two {
  padding: 20px 10px;
  box-sizing: border-box;
  overflow-y: auto;
  border-left: 1px solid #E0E0E0;
}

.d-c-comment-title {
  margin-bottom: 15px;
}

.d-c-comment-title h2{
  margin: 0;
  text-align: center;
}

.c-d-video {
  width:          100%;
  background:   #222222;
  position:       relative;
  padding-bottom: 56.25%;
  border-bottom:  4vh solid;
  border-top:     4vh solid;
}

.iframe-youtube {
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}

.c-d-description {
  width:      100%;
  box-sizing: border-box;
  margin-top: 15px;
}

@media (min-width: 1024px) {

  .d-c-columns-grid {
    grid-template-columns: 63% 37%;
  }

}

@media(min-width: 1240px) {

  .d-c-column-one{
    padding-left: 20px;
    padding-right: 5%;
  }

}



/* ---- Mobile version ---- */
.container-background-video {
  background-color: rgba(34, 34, 34, 1);
  width:              100%;
  border-top:         4vh solid black;
  border-bottom:      4vh solid black;
}

.c-video {
  position:    relative;
  width:       100%;
  margin:      0 auto;
  padding-top: 56.25%;
}

.m-c-detail-course {
  width: 100%;
}

@media (min-width: 320px) and (orientation: landscape) {

  .container {
    overflow: auto;
  }

  .container-background-video {
    background: rgba(34, 34, 34, 1);
    width:        100%;
    height:       calc(100vh - 56px);
    border:       0;
  }

  .c-video {
    position: relative;
    width:    calc(((100vh - 56px) / 9) * 16);
    margin:   0 auto;
    height:   calc(100vh - 56px);
    padding:  0;
  }

}
