<div
  class="container"
  style="display: block"
  [class.overflow-auto]="(isMobile$ | async)"
  >




  <!---------------- Desktop Version ---------------->
  <div
    class="hide"
    class="d-c-course-detail-desktop"
    *ngIf="!(isLoading$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)"
    >
    <div class="d-c-columns-grid">


      <div
        #cdVideo
        class="d-c-column-one"
        [class.quit-scroll-bar]="!(isMobile$ | async)"
        >
  
        <div #videoDesktop class="c-d-video">
  
          <iframe
            height="569"
            width="1012"
            frameborder="0"
            allowfullscreen
            [src]="urlVideo$ | async"
            class="iframe-youtube"
            allow="autoplay; encrypted-media"
            >
          </iframe>
  
  
        </div>
  
        <div class="c-d-description">
  
          <app-card-details *ngIf="!(queryMobileMatch$ | async)"></app-card-details>
  
        </div>
  
      </div>

      <div class="d-c-column-two">

        <div class="d-c-comment-title">
          <h2>Comentarios</h2>
        </div>
  
        <app-discussion-system></app-discussion-system>
  
      </div>

    </div>
  </div>


  <!---------------- Mobile Version ----------------->
  <div
    class="hide"
    style="overflow: auto; overflow-x: hidden"
    [class.show]="!(isLoading$ | async)"
    [class.show]="!(isLoading$ | async)"
    *ngIf="!(isLoading$ | async) && ( (isMobile$ | async) || (queryMobileMatch$ | async) )"
    >


    <div
      #cBackgroundVideo
      class="container-background-video"
      >

      <div class="c-video">

        <iframe 
        height="569"
        width="1012"
        frameborder="0"
        allowfullscreen
        [src]="urlVideo$ | async"
        class="iframe-youtube"
        allow="autoplay; encrypted-media"
        >
        </iframe>

      </div>

    </div>


    <div class="m-c-detail-course">
      <app-details-and-comments></app-details-and-comments>
    </div>


  </div>



  <!---------------- Spinner Loading ---------------->
  <div
    id="isLoading"
    *ngIf="isLoading$ | async"
    style="
      display:flex;
      justify-content:center;
      align-items:center
      "
    >
  </div>



</div>