<!-- desktop version -->
<div class="d-c-board center" *ngIf="!isMobile()" >

  <div class="d-c-container-canvas">
    <canvas class="d-c-canvas" id="canvasEl" #canvasEl></canvas>
    <hr class="line-guide one">
    <hr class="line-guide two">
    <hr class="line-guide three">
  </div>

  <div class="d-c-icons" >
    <mat-icon class="d-c-icon reload" (click)="showModal()"  >replay</mat-icon>
    <mat-icon class="d-c-icon clear"  (click)="limpiar()"    >delete_forever</mat-icon>
    <mat-icon class="d-c-icon next"   (click)="nextLetter()" >arrow_forward</mat-icon>
  </div>

</div>

<!-- version mobile -->
<div class="container-board" *ngIf="isMobile()" >

  <div class="container-canvas">
    <canvas class="m-c-canvas" id="canvasEl" #canvasEl></canvas>
  </div>

  <div class="title">
    <h1 id="ltrUpper">{{letter}}</h1>
  </div>

  <mat-icon class="icon reload" (click)="showModal()"  >replay</mat-icon>
  <mat-icon class="icon clear"  (click)="limpiar()"    >delete_forever</mat-icon>
  <mat-icon class="icon next"   (click)="nextLetter()" >arrow_forward</mat-icon>

</div>
