/*----- desktop version -----*/
.d-c-board {
  height:     100%;
  width:      100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-evenly;
}

.d-c-container-canvas {
  height:           300px;
  z-index:          2;
  position:         relative;
  display:          flex;
  justify-content:  center;
  align-items:      center;
  border:           1px solid #9b9b9b;
  border-radius:    3px;
  background-color: #ebedee;
}

.icon-gesture {
  position:           absolute;
  top:                10px;
  left:               10px;
  font-size:          36px;
  height:             36px;
  width:              36px;
  padding:            6px;
  z-index:            2;
  border-radius:      50%;
  color:            #004f7c;
  color:            white;
  background-color: #ff3c41;
}

.d-c-canvas {
  height: 100%;
  z-index: 2;
}

.line-guide {
  position:       absolute;
  width:          100%;
  border:         none;
  border-bottom:  2px solid rgba(43, 145, 191, .35);
  margin:         0;
  z-index:        -1;
}

.one   { top: 12% }
.two   { top: 37% }
.three { top: 72% }

.d-c-icon {
  color:        white;
  font-size:       45px;
  width:           50px;
  height:          50px;
  border:          2px solid white;
  border-radius:   50%;
  display:         flex;
  justify-content: center;
  align-items:     center;
  transition:      100ms;
}

.d-c-icons {
  display:            flex;
  justify-content:    space-around;
  background-color: #202020;
  padding:            10px 0;
  width:              350px;
  border-radius:      10px;
  margin-top:         15px;
}

/*----- mobile version -----*/
.container-board {
  height:          100%;
  width:           100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-evenly;
  align-items:     center;
  box-sizing:      border-box;
  position:        relative;

  background-color: #eaecee;
  margin: 0;
  padding: 0;
}


.title h1 {
  font-family:  'Noto Sans';
  margin:       0;
  font-size:    210px;
  margin:       0 12px;
  font-weight:  normal;
  color:      rgb(255, 255, 255);
  -webkit-text-stroke: 3px black;
}

.title {
  position: absolute;
}

.container-canvas {
  width:             100%;
  height:            100%;
  z-index:           2;
  overflow:          hidden;
  position:          absolute;
  background-color: #f8f8f8;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
}

.m-c-canvas {
  z-index: 2;
  position: absolute;
}

.m-c-mini-toolbar {
  height:       50px;
  width:        100%;
  background: rgba(0,0,0,.03);
  display:      flex;
  align-items:  center;
  padding:      0 10px;
  box-sizing:   border-box;
}

.m-c-mini-toolbar.top {
  border-bottom: 1px solid #cccccc;
}

.m-c-mini-toolbar.top button {
  margin-right: 12px;
}

.fz-30{
  font-size: 30px;
  width:     30px;
  height:    30px;
}

.fz-36{
  font-size: 36px;
  width:     36px;
  height:    36px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.m-c-menu-content {
  width: 250px;
}

.line-width-example {
  height:      40px;
  display:     flex;
  align-items: center;
  margin:      5px auto;
}

.line-width-example hr {
  width:          85%;
  margin:         0 auto;
  border:         0;
  border-bottom:  10px solid #007cc0;
  border-radius:  10px;
  transition:     50ms;
}

.m-c-slider-control {
  padding:    0px 10px;
  box-sizing: content-box;
}

.m-c-slider {
  margin: 0px 5px;
  width:  225px
}

.m-c-color-buttons {
  padding: 5px 15px;
}

.btn-color {
  margin:       0 5px;
  width:        40px;
  height:       40px;
  box-shadow:   none;
}

.m-c-content-board {
  height:   calc(100% - 100px);
  width:    100%;
  position: relative;
}

.m-c-container-canvas {
  position: relative;
  width:      300px;
  height:     300px;
  margin-top: calc(300px * 0.31);
}

.m-c-line-guide {
  position:       absolute;
  width:          100%;
  border:         none;
  border-bottom:  2px solid rgba(43, 145, 191, .35);
  margin:         0;
  z-index:        -1;
}

.m-c-line-guide.one   { top: 0% }
.m-c-line-guide.two   { top: 31% }
.m-c-line-guide.three { top: 66% }


.m-c-mini-toolbar.bottom {
  border-top:       1px solid #cccccc;
  justify-content:  space-between;
}

.m-c-mini-toolbar.bottom button {
  padding: 0 30px;
}



@media (min-width: 320px) and (orientation: landscape) {
  .reload {
    top: 25px;
    right: 25px;
    bottom: unset;
    left: unset;
  }

  .clear {
    right: 25px;
    top: calc((100% / 2 ) - 27px);
  }


}
