.container-board {
  background: linear-gradient(to top right, #0f587c 0%, #0d6297 25%, #1877ad 100%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.modal.board {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
}

.slider {
  width: 200%;
  height: 100%;
  transition: 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.show-draw {
  transform: translateX(-50%)
}

.box {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.title h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 210px;
  font-family: 'Noto Sans';
  font-weight: normal;
  margin: 0 12px;
  -webkit-text-stroke: 3px black;
}

.title {
  position: absolute;
}

.container-canvas {
  z-index: 2;
  border-radius: 2px;
}

canvas {
  border: 2px solid rgb(29, 29, 29);
  background-color: rgba(255, 255, 255, .75);
}



.icon {
  color: white;
  /* font-weight: bold; */
  font-size: 45px;
  position: absolute;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

.reload {
  left: 25px;
  background-color: orange;
}

.clear {
  background-color: #ff3c41;
}

.next {
  right: 25px;
  background-color: rgb(0, 128, 38);
}

@media (min-width: 320px) and (orientation: landscape) {
  .reload {
    top: 25px;
    right: 25px;
    bottom: unset;
    left: unset;
  }

  .clear {
    right: 25px;
    top: calc((100% / 2 ) - 27px);
  }


}
