<!-- desktop version -->
<div class="d-c-board center" *ngIf="!isMobile()" >

  <div class="d-c-container-canvas">
    <app-guide-lines [top]="30" *ngIf="showGuidLines" ></app-guide-lines>
    <button mat-icon-button class="icon-gesture" [style.background]="lineColor" (click)="clearCanvas()" >
      <mat-icon class="center" >delete_forever</mat-icon>

    </button>
    <canvas class="d-c-canvas" id="canvasEl" #canvasEl></canvas>
  </div>


</div>

<!-- version mobile -->
<div class="container-board center" *ngIf="isMobile()" >

  <div #containerCanvas class="container-canvas">

    <canvas
      class="m-c-canvas"
      id="canvasEl"
      #canvasEl
      >
      <!-- [width]="containerCanvas.clientWidth"
      [height]="containerCanvas.clientHeight" -->
    </canvas>
    
  </div>

  <div class="m-c-guide-lines" style="">
    <app-guide-lines [top]="0" *ngIf="showGuidLines"></app-guide-lines>
  </div>

</div>
