<div class="m-c-banner-title">
  <span class="logo-title" (click)="goToHome()" >WEDUC</span>
</div>
  

<div class="container" [class.mobile]="isMobile()" [class.d-c-signup]="!isMobile()">

  <!-- Dektop version -->
  <mat-card *ngIf="!isMobile()" class="d-c-card-signup center" >
    <div style="width: 100%">

      <div class="icon-signup">
        <img src="/assets/icons/books-signup-min.png" alt="">
      </div>
  
      <h1 class="signup-title">Registrarse</h1>
    
      <form
        class="m-c-signup-form"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
        >
    
        <mat-form-field>
          <input 
            id="firstName"
            matInput
            placeholder="Nombre"
            formControlName="firstName"
            [errorStateMatcher]="matcher"
            >
  
            <mat-error
              *ngIf="signupForm.controls.firstName.hasError('minlength') &&
                    !signupForm.controls.firstName.hasError('required')"
              >
              El nombre no puede tener menos de 3 letras.
            </mat-error>
  
            <mat-error
              *ngIf="signupForm.controls.firstName.hasError('required')"
              >
              El nombre es requerido.
            </mat-error>
            
        </mat-form-field>
    
        <mat-form-field>
          <input 
            id="lastName"
            matInput  
            placeholder="Apellido"
            formControlName="lastName"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="signupForm.controls.lastName.hasError('minlength') &&
                  !signupForm.controls.lastName.hasError('required')"
            >
            El apellido no puede tener menos de 3 letras.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.lastName.hasError('required')"
            >
            El apellido es requerido.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <input
            id="email"
            matInput
            placeholder="Correo electrónico"
            formControlName="email"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="signupForm.controls.email.hasError('email') &&
                  !signupForm.controls.email.hasError('required')"
            >
            Por favor ingresa una direccion de correo válido.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.email.hasError('required')"
            >
            Correo electrónico es <strong>obligatorio.</strong>
          </mat-error>
  
        </mat-form-field>
    
        <mat-form-field>
          <input 
            id="password"
            type="password"
            ngInit="text=''"
            ngFocus="text = xxxxxx"
            matInput 
            placeholder="Contraseña"
            autocomplete="true" 
            formControlName="password"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="
              signupForm.controls.password.hasError('pattern')   &&
              !signupForm.controls.password.hasError('required') &&
              !signupForm.controls.password.hasError('minlength')
            ">
            Tu contraseña debe tener mínimo 8 carateres, una letra mayúscula y un número.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.password.hasError('minlength')"
            >
            Tu contraseña debe tener un mínimo de 8 carateres.
          </mat-error>
  
          <mat-error *ngIf="signupForm.controls.password.hasError('required')">
            Ingresa tu contraseña.
          </mat-error>
  
        </mat-form-field>
  
        <mat-form-field>
          <input 
            id="password2"
            type="password"
            matInput
            placeholder="Repite tu contraseña"
            autocomplete="true"
            formControlName="password2"
            [errorStateMatcher]="matcher"
            >
  
  
          <mat-error>
            Las contraseñas no coinciden.
          </mat-error>
  
        </mat-form-field>
    
  
        <button
          class="m-c-button-signup"
          type="submit"
          mat-raised-button
          color="accent"
          >
          Registrarse
        </button>
  
        <a
          class="redirect-signup"
          mat-button color="primary"
          routerLink="/signin"
          >
          Ya tengo una cuenta
        </a>
  
      </form>

    </div>
  </mat-card>

  <!-- Mobile Version -->
  <mat-card *ngIf="isMobile()" class="m-c-card-signup center" >
    <div style="width: 100%">

      <div class="icon-signup">
        <img src="/assets/icons/books-signup-min.png" alt="">
      </div>
  
      <h1 class="signup-title">Registrarse</h1>
    
      <form
        class="m-c-signup-form"
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
        >
    
        <mat-form-field>
          <input 
            id="firstName"
            matInput
            placeholder="Nombre"
            formControlName="firstName"
            [errorStateMatcher]="matcher"
            >
  
            <mat-error
              *ngIf="signupForm.controls.firstName.hasError('minlength') &&
                    !signupForm.controls.firstName.hasError('required')"
              >
              El nombre no puede tener menos de 3 letras.
            </mat-error>
  
            <mat-error
              *ngIf="signupForm.controls.firstName.hasError('required')"
              >
              El nombre es requerido.
            </mat-error>
            
        </mat-form-field>
    
        <mat-form-field>
          <input 
            id="lastName"
            matInput  
            placeholder="Apellido"
            formControlName="lastName"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="signupForm.controls.lastName.hasError('minlength') &&
                  !signupForm.controls.lastName.hasError('required')"
            >
            El apellido no puede tener menos de 3 letras.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.lastName.hasError('required')"
            >
            El apellido es requerido.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <input
            id="email"
            matInput
            placeholder="Correo electrónico"
            formControlName="email"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="signupForm.controls.email.hasError('email') &&
                  !signupForm.controls.email.hasError('required')"
            >
            Por favor ingresa una direccion de correo válido.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.email.hasError('required')"
            >
            Correo electrónico es <strong>obligatorio.</strong>
          </mat-error>
  
        </mat-form-field>
    
        <mat-form-field>
          <input 
            id="password"
            type="password"
            ngInit="text=''"
            ngFocus="text = xxxxxx"
            matInput 
            placeholder="Contraseña"
            autocomplete="true" 
            formControlName="password"
            [errorStateMatcher]="matcher"
            >
  
          <mat-error
            *ngIf="
              signupForm.controls.password.hasError('pattern')   &&
              !signupForm.controls.password.hasError('required') &&
              !signupForm.controls.password.hasError('minlength')
            ">
            Tu contraseña debe tener mínimo 8 carateres, una letra mayúscula y un número.
          </mat-error>
  
          <mat-error
            *ngIf="signupForm.controls.password.hasError('minlength')"
            >
            Tu contraseña debe tener un mínimo de 8 carateres.
          </mat-error>
  
          <mat-error *ngIf="signupForm.controls.password.hasError('required')">
            Ingresa tu contraseña.
          </mat-error>
  
        </mat-form-field>
  
        <mat-form-field style="margin-top: 7px;">
          <input 
            id="password2"
            type="password"
            matInput
            placeholder="Repite tu contraseña"
            autocomplete="true"
            formControlName="password2"
            [errorStateMatcher]="matcher"
            >
  
  
          <mat-error>
            Las contraseñas no coinciden.
          </mat-error>
  
        </mat-form-field>
    
  
        <button
          class="m-c-button-signup"
          type="submit"
          mat-raised-button
          color="accent"
          >
          Registrarse
        </button>

        <div class="container-spinner center">
          <div>
            <mat-spinner *ngIf="isLoading$ | async" >
            </mat-spinner>
          </div>
        </div>
  
        <a
          class="redirect-signup"
          mat-button color="primary"
          routerLink="/signin"
          >
          Ya tengo una cuenta
        </a>
  
      </form>

    </div>
  </mat-card>


</div>
  