<div style="overflow: auto" class="container">




  <!-- desktop Version -->
  <div
    class="d-c-container"
    *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async) "
    >

    <div class="d-c-card">

      <mat-card class="d-c-board-controls">
        <app-control-canvas></app-control-canvas>
      </mat-card>


      <mat-card *ngIf="(showHandwriting$ | async) || (!(isMobile$ | async) && !(queryMobileMatch$ | async))" >
        <app-handwriting></app-handwriting>
      </mat-card>

      <mat-card>
        <app-board></app-board>
      </mat-card>

    </div>


  </div>




  <!-- mobile version -->
  <div
    class="m-c-container"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    >


    <div class="m-c-board-controls">
      <app-control-canvas> </app-control-canvas>
    </div>

    <div class="m-c-board">
      <app-board></app-board>
    </div>

    <div *ngIf="showHandwriting$ | async" class="m-c-full">
      <app-modal-handwriting></app-modal-handwriting>
    </div>


  </div>


  
  <div *ngIf="showSuccessScreen$ | async" class="m-c-full">
    <app-well-done></app-well-done>
  </div>
  

  <div style="height: 40px; width: 40px; position: absolute; top: 15px;" *ngIf="isSettingData$ | async" >
    <app-spinner-loading> </app-spinner-loading>
  </div>


</div>

