<div class="container">


  <!-- Desktop Version -->
  <div class="d-c-detail-letter"  *ngIf="!(isMobile$ | async) && !(isSettingData$ | async)">

    <div  #card class="card-game center">

      <div #cCard class="container-cards" [ngStyle]="style(card)">
        <div
          *ngFor="let x of (data$ | async )['data']"
          [id]="x"
          #option
          (click)="onSelect(x)"
          class="carta active"
          [class.showAll]="(showAllCard$ | async)"
          [class.active]="(sel1$ | async) === x || (sel2$ | async) === x"
          >
          <div class="lado front"></div>
          <div [ngStyle]="calcFZ(option)" class="lado back">{{x[0]}}</div>
        </div>
      </div>

    </div>

    <div *ngIf="showLetterCard$ | async" class="d-c-letter-presentation">

      <mat-card class="d-c-card-letter">

        <div class="d-c-letter" (click)="listenLetter()">
          <h1>{{(data$ | async).letter}}</h1>
        </div>

        <button
          color="warn"
          (click)="continue()"
          mat-raised-button
          class="d-c-button-next"
          >
          Siguiente
        </button>

      </mat-card>

    </div>

  </div>


  <!-- Mobile version -->
  <div class="c-detail-letter" *ngIf="(isMobile$ | async) && !(isSettingData$ | async)">

    <div  #card class="card-game center">

      <div #cCard class="container-cards" [ngStyle]="style(card)">
        <div
          [id]="x"
          #option
          class="carta active"
          (click)="onSelect(x)"
          *ngFor="let x of (data$ | async )['data']"
          [class.showAll]="(showAllCard$ | async)"
          [class.active]="(sel1$ | async) === x || (sel2$ | async) === x"
          >
          <div class="lado front"></div>
          <div [ngStyle]="calcFZ(option)" class="lado back">{{x[0]}}</div>
        </div>
      </div>


    </div>

    <div
      *ngIf="showLetterCard$ | async"
      style="
      width: 100%;
      height: 100%;
      position: absolute;
      "
    >

      <app-letter-detail-modal
        [onEnd]="continue"
        [letter]="(data$ | async).letter"
        [onStart]="listenLetterPresentation"
        [useStartAnimation]="true"
        >
      </app-letter-detail-modal>

    </div>

  </div>



  <div *ngIf="isSettingData$ | async" style="height: 40px; margin-top: 15px">
    <app-spinner-loading></app-spinner-loading>
  </div>
  <app-success-animation *ngIf="showSuccessScreen$ | async"></app-success-animation>

</div>
