<div class="container">


  <!-- Desktop Version -->
  <div
    class="d-c-letter-detail center"
    *ngIf="!(isMobile$ | async) && !(queryMobileMatch$ | async) && !(isSettingData$ | async)"
    >

    <div  #card class="d-c-card-game center">

      <div #cCard class="d-c-grids" [ngStyle]="style(card)">
        <app-card-option
          [id]="item"
          [useTextStroke]="true"
          [letter]="item[0]"
          [onSelect]="onSelect"
          *ngFor="let item of (data$ | async ).data"
          >
        </app-card-option>
      </div>

    </div>



    <div *ngIf="showLetterCard$ | async" class="d-c-letter-detail-modal" >

      <app-letter-detail-modal
        [onEnd]="continue"
        [letter]="(data$ | async).letter"
        [onStart]="listenLetterPresentation"
        [useMobileVersion]="false"
        >
      </app-letter-detail-modal>

    </div>
  


  </div>


  <!-- Mobile version -->
  <div
    class="m-c-letter-detail center"
    *ngIf=" ((isMobile$ | async) || (queryMobileMatch$| async)) && !(isSettingData$ | async) "
    >


    <div #card class="m-c-card-game center">


      <div #cCard class="m-c-grids" [ngStyle]="style(card)">

        <app-card-option
          [id]="item"
          [letter]="item[0]"
          [useTextStroke]="false"
          [onSelect]="onSelect"
          *ngFor="let item of (data$ | async ).data"
          >
        </app-card-option>

      </div>


    </div>


    <div class="m-c-button-retry" *ngIf="!(showLetterCard$ | async)">
      <button
        class="button-retry center"
        [color]="primary"
        mat-flat-button
        (click)="showLetterDetailModal()"
        >
        Ayuda
      </button>
    </div>


    <div *ngIf="showLetterCard$ | async" class="m-c-letter-detail-modal" >

      <app-letter-detail-modal
        [onEnd]="continue"
        [letter]="(data$ | async).letter"
        [onStart]="listenLetterPresentation"
        [useMobileVersion]="true"
        >
      </app-letter-detail-modal>

    </div>


  </div>



  <div *ngIf="isSettingData$ | async" style="height: 40px; margin-top: 15px">
    <app-spinner-loading></app-spinner-loading>
  </div>



  <div class="container-well-done-dialog" *ngIf="showSuccessScreen$ | async">
    <app-well-done></app-well-done>
  </div>



</div>
