<mat-card
  class="m-c-addComent"
  [class.commented]="commented || commentText.value.length > 0"
  >

  <div class="two-columns">

    <mat-form-field color="primary" class="field-comment">
  
      <mat-label>Escribe tu comentario:</mat-label>
      <textarea
        matInput
        #commentText
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        (focus)="commented = true"
        (focusout)="commented = false"
        #autosize="cdkTextareaAutosize"
        ></textarea>
  
    </mat-form-field>

    <div class="container-button-send">

      <button
        class="button-send"
        (click)="reqAddComment(commentText)"
        [disabled]="commentText.value === ''"
        >
        <mat-icon style="
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #2196F3;"
          >
          send
        </mat-icon>
      </button>

    </div>

  </div>


</mat-card>