.m-c-addComent {
  margin-bottom:  10px;
  border-radius:  0;
  height:         45px;
  padding-top:    0;
  overflow:       hidden;
}

.m-c-addComent.commented {
  height:  unset;
  padding: 30px 25px;
  padding-bottom: 20px;
}

.fieldComment {
  width:  100%;
  margin: 0 
}