.container-write-comment {
  margin-bottom: 10px;
  height:        45px;
  padding-top:   5px;
  overflow:      hidden;
  border-radius: 4px;
  padding-left:  0px;
  padding-right: 0px;
}

.two-columns {
  display: grid;
  grid-template-columns: auto 60px;
  width: 100%;
}

.container-write-comment.commented {
  height:  unset;
  padding-bottom: 0;
  padding-top:    15px;
  border-radius:  0px;
}

.field-comment {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  padding-right: 0;
}

.container-button-send {

  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.button-send {
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: none;
  border: none;
  padding: 0;
}