<div class="container" [class.desktop]="!isMobile()" >

  <div #mcGame class="d-c-game hide" [class.show]="showGame" *ngIf="!isMobile()" >

    <div class="d-c-toolbar" #toolbGame >
      <div class="m-c-count">
        <span class="failed" > {{failedCount}} </span>
        <span class="succes" > {{succesCount}} </span>
      </div>
      <div class="help resize" (click)="instructions('y')" >?</div>
    </div>

    <div class="d-c-letters" *ngIf="loading === false" id="s" #mcLetters>

      <div class="d-c-letter" *ngFor="let group of letterIDs">
        <div
          class="d-c-option center"
          *ngFor="let letterID of group"
          [class.destroy]="letterID[0] === letter && letterID === elToDestroy"
          >
          <button
            class="m-circle-letter d-c-resize press"
            (click)="onSelect(letterID)"
            [disabled]="lettersValidation[letterID] === letterID"
            [class.showOpt]="letterID[0] === letter && show === true"
            [class.clear]="clearEl[letterID] === letterID"
            >
            {{letterID[0]}}
          </button>
        </div>
      </div>
      
    </div>
    
    <app-spinner-loading *ngIf="loading === true" ></app-spinner-loading>
    <canvas class="d-c-background" #canvas id="canvas">no</canvas>

    
  </div>

  <!-- <div #mcGame class="m-c-game hide" [class.show]="showGame"  *ngIf="isMobile()" > -->
  <div #mcGame class="m-c-game hide" [class.show]="showGame" *ngIf="isMobile()" >

    <div class="m-c-toolbar" #toolbGame >
      <div class="m-c-count">
        <span class="failed" > {{failedCount}} </span>
        <span class="succes" > {{succesCount}} </span>
      </div>
      <div class="help resize" (click)="instructions('y')" >?</div>
    </div>

    <div class="m-c-letters" *ngIf="loading === false" id="s" #mcLetters>

      <div class="m-c-letter" *ngFor="let group of letterIDs">
        <div
          class="c-m-option"
          *ngFor="let letterID of group" style="height: 75px;"
          [class.destroy]="letterID[0] === letter && letterID === elToDestroy"
          >
          <button
            class="m-circle-letter press"
            (click)="onSelect(letterID)"
            [disabled]="lettersValidation[letterID] === letterID"
            [class.showOpt]="letterID[0] === letter && show === true"
            [class.clear]="clearEl[letterID] === letterID"
            >
            {{letterID[0]}}
          </button>
        </div>
      </div>
      
    </div>
    
    <app-spinner-loading *ngIf="loading === true" ></app-spinner-loading>
    <canvas #canvas id="canvas">no</canvas>

    
  </div>
  
  <app-success-animation
    *ngIf="success"
    class="modify-s"
    [class.showSuccess]="success"
    [class.hideSuccess]="!success"
    >
  </app-success-animation>
  
</div>