.container {
  overflow: auto;
  background: #f0f0f0;
}

.d-container {
  width: 700px;
  min-height: 500px;
  height: 100%;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.d-card-identify {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  box-sizing: border-box;
}



.d-icon-help {
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: #2196F3;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%
}

.d-container-circle {
  position: relative;
}

.d-container-circle::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 20px;
  top: 104%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  left: calc(50% - 50px);
}

.d-c-container-img {
  background: #222222;
  border-radius: 50%;
  position: relative;
  border: 5px solid #FF7043;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  cursor: pointer;
}

.d-c-container-img .d-c-image {
  width: 65%;
  height: 65%;
}

.container-letters {
  width: 90%;
  height: 30%;
}

.container-letters .option {
  min-width: 65px;
  height: 75px;
  font-size: 55px;
  margin: 0 1.5px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 4px;
  box-sizing: content-box;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background-color: #2196F3;
  box-shadow: 0px 8px 0px 0px #1976D2;
  transition: 200ms;
  cursor: pointer;
}

.container-letters .correct {
  transition: 200ms;
  background: #23af5d;
  color: white;
  font-weight: bold;
  background-color: #4CAF50;
  box-shadow: 0px 8px 0px 0px #388E3C;
}

.container-letters .incorrect {
  transition: 200ms;
  background-color: #F44336;
  box-shadow: 0px 8px 0px 0px #D32F2F;
}

.d-container-progress-bar {
  position: absolute;
  width: 600px;
  height: 8px;
}



@media (max-height: 820px) {

  .d-container {
    max-height: 95%;
  }

  .d-c-container-img {
    width: 280px;
    height: 280px;
  }

}

@media(max-height: 580px) {
  .container.desktop {
    display: block;
  }

  .d-container {
    height: 500px;
    min-height: unset;
    max-height: unset;
    margin: 10px auto;
  }

}








/* --  Styles Mobile version  -- */

.m-c-card-identify-letter {
  width: 95%;
  min-width: 300px;
  height: 96%;
  min-height: 480px;
  max-height: 600px;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .15), 0 1px 1px 0 rgba(0, 0, 0, .24), 0 1px 3px 0 rgba(0, 0, 0, .22);
}

.m-c-card {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.container-circle {
  position: relative;
}

.container-circle::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 20px;
  top: 104%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  left: calc(50% - 50px);
}

.m-c-image {
  margin: 0px auto;
  height: 45%;
  background: #222222;
  border-radius: 50%;
  position: relative;
  border: 5px solid #FF7043;
}

.m-c-image .m-image {
  height: 65%;
  width: 65%;
}

.m-c-image .shadow {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 104%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.m-c-container-word {
  width: 95%;
}

.m-c-container-word .option {
  min-width: 30px;
  padding: 1px 3px;
  font-size: 30px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  background-color: #2196F3;
  box-shadow: 0px 8px 0px 0px #1976D2;
  margin: 0 1px;
  border-radius: 3px;
  color: white;
  padding-bottom: 4px;
}


.m-c-container-word .option.correct {
  transition: 200ms;
  background-color: #4CAF50;
  box-shadow: 0px 8px 0px 0px #388E3C;
}

.m-c-container-word .option.incorrect {
  transition: 200ms;
  background-color: #F44336;
  box-shadow: 0px 8px 0px 0px #D32F2F;
}


.m-c-container-word .select {
  transition: .5s;
  border-top: 1px solid #239B56;
  border-bottom: 1px solid #239B56;
  color: white;
  background: #239B56;
  border-left: none !important;
  border-right: none !important;
}

.m-c-container-word .select:first {
  transition: .5s;
  border-left: 1px solid #239B56;
  color: white;
  background: #239B56;
}

.i-help {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #3090C7;
  border-radius: 50%;
  transition: 100ms;
}

.i-help:active {
  transform: scale(.97)
}

.container-spinner-loading {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 15px;
}

.m-c-container-progress-bar {
  width: 90%;
  height: 6px;
  margin: 0 auto;
  position: absolute;
}

@media (max-height: 550px) and (orientation: portrait) {

  .container.mobile {
    display: block;
  }

  .m-c-card-identify-letter {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    min-height: unset;
    box-sizing: border-box;
  }

}

@media (min-height: 320px) and (orientation: landscape) {

  .m-c-card-identify-letter {
    min-height: unset;
    justify-content: space-around;
    max-width: 640px;
  }

  .m-c-container-word {
    max-width: 350px;
  }

  .m-c-container-word .option {
    min-width: 35px;
  }

}

@media (max-height: 319px) and (orientation: landscape) {

  .container {
    display: block;
  }

  .m-c-card-identify-letter {
    min-height: 280px;
    margin: 10px auto;
  }

  .m-c-container-word {
    max-width: 340px;
  }

}

@media(max-width: 320px) and (orientation: portrait) {
  .m-c-image {
    width: 230px;
    height: 230px;
  }
}

@media(min-width: 321px) and (max-width: 380px) and (orientation: portrait) {
  .m-c-image {
    width: 270px;
    height: 270px;
  }
}

@media(min-width: 381px) and (max-width: 520px) and (orientation: portrait) {
  .m-c-image {
    width: 290px;
    height: 290px;
  }
}

@media(min-width: 521px) and (max-width: 768px) and (orientation: portrait) {
  .m-c-image {
    width: 330px;
    height: 330px;
  }

  .m-c-card-identify-letter {
    max-height: 720px;
    max-width: 640px;
  }
}

@media(max-width: 360px) and (orientation: portrait) {}

@media(min-width: 540px) and (orientation: portrait) {

  .m-c-container-word .option {
    min-width: 48px;
    font-size: 48px;
    padding-bottom: 4px;
    border-radius: 5px;
  }

}

@media(min-width: 320px) and (orientation: landscape) {
  .m-c-image {
    height: 120px;
    width: 120px;
  }

  .container-circle::before {
    content: none
  }
}

.option:disabled {
  color: unset;
}
