<div #container class="container">


  <!-- Desktop Version -->
  <mat-card *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)" class="d-container" >

    <div #contDesk class="container-img">
      <img [ngStyle]="genSizeDesk(contDesk)" [src]="(data$ | async).imgUrl" (click)="listenWord()">
    </div>

    <div class="container-letters">
      <button
        *ngFor="let letter of (data$ | async).letterIds"
        class="option press"
        [disabled]="(data$ | async).selections[letter] === letter"
        [class.select]="(data$ | async).selections[letter] === letter"
        [id]="letter"
        (click)="onSelect(letter)"
        >
        {{letter[0]}}
      </button>
    </div>

    <mat-icon class="d-icon-help" (click)="instructions()" >contact_support</mat-icon>


  </mat-card>


  <!-- Mobile Version -->
  <mat-card
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    class="m-c-card-identify-letter"
    >

    <div #mcImage class="m-c-image center press" [style.width.px]="mcImage.clientHeight" >
      <img
        [style.width.px]="mcImage.clientHeight * 0.65"
        [style.height.px]="mcImage.clientHeight * 0.65"
        [src]="(data$ | async).imgUrl"
        (click)="listenWord()"
        >
        <div class="shadow"></div>
    </div>

    <div #mcWord class="m-c-container-word center">
      <div class="m-c-word">
        <button
          [id]="letter"
          class="option"
          *ngFor="let letter of (data$ | async).letterIds"
          (click)="onSelect(letter)"
          [ngStyle]="genStyles(mcWord, container)"
          [disabled]="(data$ | async).selections[letter] === letter"
          [class.select]="(data$ | async).selections[letter] === letter"
          >
          <!-- [style.fontSize.px]="mcWord.clientWidth * 0.133" -->
          {{letter[0]}}
        </button>
      </div>
    </div>

    <mat-icon class="i-help" (click)="instructions()" >help</mat-icon>

  </mat-card>

  <mat-progress-bar
    color="warn"
    [value]="advance$ | async "
    [mode]="determinate"
    style="position: absolute; top: 0px; left: 0;"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async)) " 
    >
  </mat-progress-bar>


  <!-- Animation Spinner -->
  <div style="height: 40px; width: 40px; position: absolute; top: 15px;" *ngIf="isSettingData$ | async" >
    <app-spinner-loading></app-spinner-loading>

  </div>
  <!-- Success Animation -->
  <app-success-animation *ngIf="showSuccessScreen$ | async"></app-success-animation>

</div>
