<div #container class="container">


  <!-- Desktop Version -->
  <mat-card *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)" class="d-container" >

    <div #contDesk class="container-img">
      <img
        (click)="listenWord()"
        [src]="(data$ | async).imgUrl"
        [ngStyle]="genSizeDesk(contDesk)"
        >
        <div class="shadow"></div>
    </div>

    <div class="container-letters">
      <button
        [id]="letter"
        class="option center press"
        (click)="onSelect(letter)"
        *ngFor="let letter of (data$ | async).letterIds"
        [disabled]="(data$ | async).selections[letter] === letter || (disableAll$ | async)"
        [class.select]="(data$ | async).selections[letter] === letter"
        >
        {{letter[0]}}
      </button>
    </div>

    <mat-icon
      class="d-icon-help"
      (click)="instructions()"
      >
      contact_support
    </mat-icon>


  </mat-card>


  <!-- Mobile Version -->
  <mat-card
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    class="m-c-card-identify-letter"
    >

    <div
      #mcImage
      class="m-c-image center press"
      [style.width.px]="mcImage.clientHeight"
      >
      <img
        (click)="listenWord()"
        [src]="(data$ | async).imgUrl"
        [style.width.px]="mcImage.clientHeight * 0.65"
        [style.height.px]="mcImage.clientHeight * 0.65"
        >
        <div class="shadow"></div>
    </div>

    <div #mcWord class="m-c-container-word center">
      <div class="m-c-word">
        <button
          [id]="letter"
          class="option"
          (click)="onSelect(letter)"
          [ngStyle]="genStyles(mcWord, container)"
          *ngFor="let letter of (data$ | async).letterIds"
          [disabled]="(data$ | async).selections[letter] === letter || (disableAll$ | async)"
          [class.select]="(data$ | async).selections[letter] === letter"
          >
          <!-- [style.fontSize.px]="mcWord.clientWidth * 0.133" -->
          {{letter[0]}}
        </button>
      </div>
    </div>

    <mat-icon class="i-help" (click)="instructions()" >help</mat-icon>

  </mat-card>

  <mat-progress-bar
    color="warn"
    [mode]="determinate"
    [value]="advance$ | async "
    style="position: absolute; top: 0px; left: 0;"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async)) " 
    >
  </mat-progress-bar>


  <!-- Animation Spinner -->
  <div
    *ngIf="isSettingData$ | async"
    class="container-spinner-loading"
    >
    <app-spinner-loading>
    </app-spinner-loading>
  </div>

  <!-- Success Animation -->
  <app-success-animation
    *ngIf="showSuccessScreen$ | async"
    >
  </app-success-animation>

</div>
