<div #container class="container"
  [class.desktop]="!(isMobile$ | async) && !(queryMobileMatch$ | async)"
>


  <!-- Desktop Version -->
  <div #cont class="d-container"
    *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)"
    >
    <mat-card
    style="width: 100%; height: 100%;    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;"
    >
  
      <div
        matRipple
        (click)="listenWord()"
        [matRippleRadius]="120"
        class="d-c-container-img center"
        [matRippleColor]="'rgba(255,255,255, 0.035)'"
        >
        <img
          class="d-c-image"
          [src]="(data$ | async).imgUrl"
          >
        <div class="shadow"></div>
      </div>
  
      <div class="container-letters center">
        <button
          [id]="letter"
          class="option center press"
          (click)="onSelect(letter)"
          *ngFor="let letter of (data$ | async).letterIds"
          [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)"
          [class.correct]="(correctsSels$ | async)[letter] === letter"
          [class.incorrect]="(wrongSels$ | async)[letter] === letter"
          matRipple 
          
          >
          {{letter[0]}}
        </button>
      </div>
  
      <mat-icon matRipple [matRippleCentered]="true" [matRippleRadius]="16" class="d-icon-help" (click)="instructions()">help</mat-icon>
  
  
    </mat-card>


    <div
    class="d-container-progress-bar"
    [style.top.px]="((container.clientHeight - cont.clientHeight) / 4) - 4"
    >
      <mat-progress-bar
        color="warn"
        [mode]="determinate"
        [value]="advance$ | async "
        style="height: 100%; border-radius: 50px"
        >
      </mat-progress-bar>
    </div>

  </div>


  <!-- Mobile Version -->
  <mat-card
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async))"
    class="m-c-card-identify-letter"
    >

    <div
      #mcImage
      class="m-c-image center press"
      [style.width.px]="mcImage.clientHeight"
      >
      <img
        (click)="listenWord()"
        [src]="(data$ | async).imgUrl"
        [style.width.px]="mcImage.clientHeight * 0.65"
        [style.height.px]="mcImage.clientHeight * 0.65"
        >
        <div class="shadow"></div>
    </div>

    <div #mcWord class="m-c-container-word center">
      <div class="m-c-word">
        <button
          [id]="letter"
          class="option"
          (click)="onSelect(letter)"
          [ngStyle]="genStyles(mcWord, container)"
          *ngFor="let letter of (data$ | async).letterIds"
          [disabled]="(selections$ | async)[letter] === letter || (disableAll$ | async)"
          [class.select]="(correctsSels$ | async)[letter] === letter"
          [class.incorrect]="(wrongSels$ | async)[letter] === letter"
          >
          <!-- [style.fontSize.px]="mcWord.clientWidth * 0.133" -->
          {{letter[0]}}
        </button>
      </div>
    </div>

    <mat-icon class="i-help" (click)="instructions()" >help</mat-icon>

  </mat-card>

  <mat-progress-bar
    color="warn"
    [mode]="determinate"
    [value]="advance$ | async "
    style="position: absolute; top: 0px; left: 0;"
    *ngIf="!(isSettingData$ | async) && ((isMobile$ | async) || (queryMobileMatch$ | async)) " 
    >
  </mat-progress-bar>


  <!-- Animation Spinner -->
  <div
    *ngIf="isSettingData$ | async"
    class="container-spinner-loading"
    >
    <app-spinner-loading>
    </app-spinner-loading>
  </div>

  <!-- Success Animation -->
  <app-success-animation
    *ngIf="showSuccessScreen$ | async"
    >
  </app-success-animation>

</div>
