.container {
  overflow: auto;
}

.d-container {
  width: 100%;
  height: 100%;
  max-width: 840px;
  min-width: 700px;
  max-height: 720px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.d-icon-help {
  width: 72px;
  height: 72px;
  font-size: 72px;
  color: #258bff;
  position: absolute;
  top: 15px;
  left: 15px;
}

.container-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 50%;
}

.container-img img {
  background-color: #222222;
  border-radius: 4px;
  transition: 100ms;
  padding: 35px;
  box-sizing: border-box;
}

.container-img img:active {
  transform: scale(.99)
}


/* ----- Contenedor de letras ----- */

.container-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  background-color: #ebedee;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
}

.container-letters .option {
  min-width: 65px;
  height: 75px;
  font-size: 55px;
  margin: 0 2px;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-bottom: 4px;
  box-sizing: content-box;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
  transition: 200ms;
}

.container-letters .option:active {
  transform: scale(.96)
}

.container-letters .select {
  transition: 200ms;
  background: #23af5d;
  color: white;
  font-weight: bold;
}



/* --  Styles Mobile version  -- */

.m-c-card-identify-letter {
  width:            95%;
  min-width:        300px;
  height:           96%;
  min-height:       480px;
  max-height:       600px;    
  background:     white;
  padding:          0;
  overflow:         auto;
  position:         relative;
  border:           1px solid #b2b2b2;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  space-evenly;
}


.m-c-image {
  margin:           0px auto;
  height:           45%;
  background:     #222222;
  border-radius:    50%;
  position:         relative;
  border:           5px solid #fc793c;
  /* box-sizing:       border-box; */
}

.m-c-image .shadow {
  position:           absolute;
  width:              100px;
  height:             20px;
  top:                104%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius:      50%;
}
.m-c-container-word {
  width: 95%;
}

.m-c-word {
  border-radius:  3px;
  overflow:       hidden;
  padding:        4px 0;
  border-bottom:  3px solid rgb(49, 185, 243); /* #01ABAA */ /* #43C0F6 */
  border-top:     3px solid rgb(49, 185, 243); /* #01ABAA */ /* #43C0F6 */
}

.m-c-word > :first-child {
  border-radius: 5px 0 0 5px;
  border-left:    1px solid #dbdbdb !important;
}

.m-c-word > :last-child {
  border-radius:  0 5px 5px 0;
  border-right:    1px solid #dbdbdb !important;
}

.m-c-word .option {
  min-width:        30px;
  padding:          1px 3px;
  padding-bottom:   5px;
  font-size:        30px;
  margin:           0px;
  font-family:      'Noto Sans', sans-serif;
  outline:          none;
  border:           none;
  background:       #eaecee;
  border-bottom:    1px solid #dbdbdb;
  border-top:       1px solid #dbdbdb
}

.m-c-word .select {
  transition:    .5s;
  border-top:    1px solid #239B56;
  border-bottom: 1px solid #239B56;
  color:       white;
  background:  #239B56;
  border-left:   none !important;
  border-right:  none !important;
}

.m-c-word .select:first {
  transition:    .5s;
  border-left:    1px solid #239B56;
  color:        white;
  background:   #239B56;
}

.i-help {
  position:       absolute;
  top:            10px;
  left:           10px;
  font-size:      48px;
  width:          48px;
  height:         48px;
  color:        #3090C7;
  border-radius:  50%;
  transition:     100ms;
}

.i-help:active {
  transform: scale(.97)
}

@media (max-height: 550px) and (orientation: portrait) {

  .container.mobile {
    display: block;
  }

  .m-c-card-identify-letter {
    margin: 5px;
    width: calc( 100% - 10px);
    height: calc( 100% - 10px);
    min-height: unset;
    box-sizing: border-box;
  }

}

@media (min-height: 320px) and (orientation: landscape) {

  .m-c-card-identify-letter {
    min-height: unset;
    justify-content: space-around;
    max-width: 640px;
  }

  .m-c-container-word {
    max-width: 350px;
  }

  .m-c-word .option {
    min-width: 35px;
  }

}

@media (max-height: 319px) and (orientation: landscape) {

  .container {
    display: block;
  }
  
  .m-c-card-identify-letter {
    min-height: 280px;
    margin:     10px auto;
  }

  .m-c-container-word {
    max-width: 340px;
  }

}