.m-c-container-answers {
  position:      relative;
  margin-bottom: 10px;
  margin-left:   10px;
}

.m-c-answers {
  margin: 10px 10px 10px 25px;
}

.m-c-msg-show-answers {
  color:          #2196F3;
  font-weight:      bolder;
  text-align:       center;
  text-decoration:  underline;
  letter-spacing:   0.2px;
  margin:           0;
  cursor:           pointer;
  font-family:      'Roboto', sans-serif !important;
}

.m-c-msg-hide-answers {
  color:          #2196F3;
  font-weight:      bolder;
  text-align:       center;
  text-decoration:  underline;
  letter-spacing:   0.2px;
  margin:           10px 0; 
  cursor:           pointer;
  font-family:      'Roboto', sans-serif !important;
}

.m-c-answers mat-card {
  margin: 5px 0;
}


.m-c-comment-guide {
  position:       absolute;
  border-left:    2px solid #2196F3;
  border-bottom:  2px solid #2196F3;
  border-radius:  0 0 0 5px;
  height:         calc(100% - 20px);
  width:          20px;
  top:            0;
}


.m-c-container-buttons-answer {
  position: relative;
  width:    max-content;
  bottom:   0;
  left:     25px;
  color:  #2196F3;
}

.m-c-btn-write-answer  {
  color:  #1976d2;
}

.m-c-btn-hide-write-answer {
  color:          #2196F3;
  font-size:        18px;
  font-weight:      bold;
  text-decoration:  underline;
  letter-spacing:   0.5px;
}