<div style="overflow: auto" class="container">



  <!-- desktop Version -->
  <div
    class="d-c-container"
    *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async) "
    >

    <div class="d-c-container-draw-letter" >
      <mat-card class="d-c-control-canvas">
        <app-control-canvas></app-control-canvas>
      </mat-card>


      <mat-card *ngIf="showHandwriting$ | async" >
        <app-handwriting></app-handwriting>
      </mat-card>

      <mat-card>
        <app-board></app-board>
      </mat-card>
    </div>


  </div>



  <!-- mobile version -->
  <div class=" container-slider-mobile"
    *ngIf="
      !(isSettingData$ | async)
      && ((isMobile$ | async) || (queryMobileMatch$ | async))
      "
    >


    <div class="m-c-control-canvas">
      <app-control-canvas> </app-control-canvas>
    </div>

    <div class="m-c-slider">
      <app-board></app-board>
    </div>

    <div
      id="handWriting"
      *ngIf="showHandwriting$ | async"
      (click)="closeHandwriting($event)"
      class="container-handwriting-dialog"
      >

      <mat-card class="card-handwriting">

        <div class="m-c-box-handwrinting">
          <app-handwriting></app-handwriting>
        </div>

        <div class="m-c-practice">
          <button mat-flat-button color="warn" (click)="hideHandwriting()">Practicar</button>
        </div>

      </mat-card>
    </div>

  </div>


  
  <app-success-animation *ngIf="showSuccessScreen$ | async">
  </app-success-animation>
  
  <div style="height: 40px; width: 40px; position: absolute; top: 15px;" *ngIf="isSettingData$ | async" >
    <app-spinner-loading >
    </app-spinner-loading>
  </div>

</div>

