<div style="overflow: auto" class="container">



  <!-- desktop Version -->
  <mat-card class="container-slider" *ngIf="!(isSettingData$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async) ">

    <div class="d-c-slider" [class.show-board]="showBoard === true">


      <div class="d-c-control-canvas">
        <app-control-canvas></app-control-canvas>
      </div>


      <div class="d-c-box one">
        <app-handwriting></app-handwriting>
      </div>

      <div class="d-c-box two">
        <app-board></app-board>
      </div>


    </div>
  </mat-card>



  <!-- mobile version -->
  <div class=" container-slider-mobile"
    *ngIf="
      !(isSettingData$ | async)
      && ((isMobile$ | async) || (queryMobileMatch$ | async))
      "
    >


    <div class="d-c-control-canvas">
      <app-control-canvas> </app-control-canvas>
    </div>

    <div class="m-c-slider">
      <app-board></app-board>
    </div>

    <div
      id="handWriting"
      *ngIf="showHandwriting$ | async"
      (click)="closeHandwriting($event)"
      class="container-handwriting-dialog"
      >

      <mat-card class="card-handwriting">

        <div class="m-c-box-handwrinting">
          <app-handwriting></app-handwriting>
        </div>

        <div class="m-c-practice">
          <button mat-flat-button color="warn" (click)="hideHandwriting()">Practicar</button>
        </div>

      </mat-card>
    </div>

  </div>


  
  <app-success-animation *ngIf="showSuccessScreen$ | async">
  </app-success-animation>
  
  <div style="height: 40px; width: 40px; position: absolute; top: 15px;" *ngIf="isSettingData$ | async" >
    <app-spinner-loading >
    </app-spinner-loading>
  </div>

</div>

