<div class="container mobile" style="overflow: auto">



  <!-- desktop Version -->
  <mat-card 
      *ngIf="!loading && !isMobile()"
      class="hide container-slider"
      [class.show]="showDraw"
      >
      <div 
        class="d-c-slider"
        [class.show-board]="showBoard === true"
        >
        <div class="d-c-box one">
          <app-handwriting
            [letter]="currentLetter"
            [coordinates]="currentCoordinates"
            (propagar)="showBoardC($event)"
            >
          </app-handwriting>
        </div>
  
        <div class="d-c-box two">
          <app-board
            [letter]="currentLetter"
            (showHandwriting)="showHandWriting($event)"
            (next)="next($event)"
            >
          </app-board>
        </div>
  
      </div>
  </mat-card>
  


  <!-- mobile version -->
  <div 
    *ngIf="!loading && isMobile()"
    [class.container-slider]="isMobile() === false"
    [class.container-slider-mobile]="isMobile() === true"
    class="hide"
    [class.show]="showDraw"
    >
    <div 
      class="slider"
      [class.show-board]="showBoard === true"
      >

      <div class="box one">
        <app-handwriting
          [letter]="currentLetter"
          [coordinates]="currentCoordinates"
          (propagar)="showBoardC($event)"
          >
        </app-handwriting>
      </div>

      <div class="box two">
        <app-board
          [letter]="currentLetter"
          (showHandwriting)="showHandWriting($event)"
          (next)="next($event)"
          >
        </app-board>
      </div>

    </div>
  </div>

  <app-success-animation *ngIf="success" class="hideSuccess"  [class.showSuccess]="success === false"></app-success-animation>
  <app-spinner-loading   *ngIf="loading"></app-spinner-loading>
  
  </div>