<div #contGrid class="container">

  <div *ngIf="!(isLoading$ | async) && (isMobile$ | async) || (queryMobileMatch$ | async) " >

    <div class="m-c-search hide" [class.show]="!(isLoading$ | async)">
        
        <app-search (evsSearch)="searchCourses($event)"></app-search>
  
    </div>
  
    <div
       [class.show]="!(isLoading$ | async)"
       class="c-cards hide"
       >
  
      <mat-card
        class="card-course"
        *ngFor="let item of filterCourses()"
        (click)="redirect(item.subtitle)"
        >
  
        <div class="c-icon">

          <img [src]="genUrl(item.title)" width="65" height="65">

        </div>
  
        <div class="c-title">
  
          <span class="title">
            {{item.title}}
          </span>
  
        </div>
  
  
      </mat-card>
  
    </div>
    
    
    
    
    
  </div>



  <div class="dc-c-courses" *ngIf="!(isLoading$ | async) && !(isMobile$ | async) && !(queryMobileMatch$ | async)">

    <!----- Search ----->
    <div class="d-c-container-search center">
      <div class="d-c-search hide"  [class.show]="!(isLoading$ | async)" >
          
        <app-search
          (evsSearch)="searchCourses($event)"
          >
        </app-search>
  
      </div>
    </div>
  
    <!------ Courses ------>
    <div #cGridCourses class="dc-c-container-courses hide" [class.show]="!(isLoading$ | async)">
      <div class="d-c-courses-grid" [ngStyle]="grids(cGridCourses)"  >

        <mat-card
          class="d-c-card-course"
          *ngFor="let item of filterCourses()"
          (click)="redirect(item.subtitle)"
          >
    
          <div class="d-c-icon">
            <img
              [src]="genUrl(item.title)"
              width="100"
              height="100"
              >
          </div>
    
          <div class="d-c-title center">
            <span class="title">{{item.title}}</span>
          </div>
    
    
        </mat-card>

      </div>
    </div>
    
  </div>


  <!------ loading animation ------>
  <div style="width: 100%; height: 50px; margin-top: 20px;" *ngIf="(isLoading$ | async)" >
    <app-spinner-loading></app-spinner-loading>
  </div>
</div>