<div class="container" [class.mobile]="(isMobile$ | async)" >





  <!-- desktop version -->
  <mat-card class="d-c-card center" *ngIf="!loading && (!(isMobile$ | async) && !(queryMobileMatch$ | async))">

    <div class="d-c-container-words" #dcCWords>
      <button 
        class="d-c-word correct"
        (click)="validation(x)"
        *ngFor="let x of messyWords"
        [disabled]="selections[x] === x"
        [class.correct]="corrects[x] === x"
        [class.incorrect]="incorrects[x] === x"
        >
        {{x}}
      </button>
    </div>

    <button class="icon-help" style="top: 20px; left: 20px" (click)="repeatInstructions()">?</button>

  </mat-card>





  <!-- mobile version -->
  <mat-card class="m-c-select-words center" *ngIf="!loading && ((isMobile$ | async) || (queryMobileMatch$ | async))">

    <div class="m-c-container-words center">
      <button
        *ngFor="let word of messyWords"
        class="word"
        [class.correct]="corrects[word] === word"
        [class.incorrect]="incorrects[word] === word"
        [disabled]="selections[word] === word"
        (click)="validation(word)"
        >
        {{word}}
      </button>
    </div>

    <button class="icon-help" (click)="repeatInstructions()">?</button>

  </mat-card>

  <mat-progress-bar
    *ngIf="!loading && (isMobile$ | async)"
    style="position: absolute; top: 0px"
    color="warn"
    [mode]="determinate"
    [value]="100 - ((correctWords.length * 100) / totalCorrects)"
    >
  </mat-progress-bar>

  <app-spinner-loading *ngIf="loading"></app-spinner-loading>
  <app-success-animation *ngIf="success"></app-success-animation>
</div>
